openapi: 3.0.0
info:
  version: 0.1.0
  title: ZelFlux
  contact:
    email: tadeas.kmenta@zel.cash
    url: 'https://zelcash.github.io/zelfluxdocs/'
  license:
    name: GNU AGPLv3
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
  x-logo:
    url: 'https://raw.githubusercontent.com/zelcash/zelfluxdocs/master/zelflux.png'
  description: >-
    This is an API documentation of calls available to be made to any ZelFlux.
    <br>
    GET Calls are available as both query and in order as path.
    <br>
    ZelFlux is completely open source and we encourage everyone to feel free and
    contribute :)

    # Introduction

    ZelFlux possesses with 4 tier hiearchy level API.

    * **Public** API level - Available without any permission, does not require
    signing.

    * **User** API level - User level permission, requires signing.

    * **ZelTeam** API level - ZelTeam level permission (an appointed Zel Team
    member has access to those API calls), requires signing.

    * **Admin** API level - Admin level permission, requires signing. ZelNode
    owner.


    Most calls are available via GET request with some that may require large
    amount of data via POST request.

    Websocket is currently used only for simplifying login operations and for
    internal ZelFlux communication.
externalDocs:
  description: ZelFlux
  url: 'https://github.com/zelcash/zelflux'
tags:
  - name: Authentication
    description: >-
      Calls that are neccessary to be made for correct signing into ZelFlux and
      obtaining zelauth header.
  - name: ZelID
    description: >-
      Calls that interact with ZelID and login/authentication management of
      ZelFlux
  - name: ZelFlux
    description: Calls that interact with ZelFlux and its network
  - name: ZelCash
    description: Calls that interact with locally running ZelCash daemon
  - name: ZelBench
    description: Calls that interact with locally running ZelBench daemon
  - name: ZelNode
    description: Calls that interact with local ZelNode and its network
  - name: ZelApps
    description: >-
      Calls that interact with ZelApps fascilitated by local ZelFlux and ZelNode
      network
  - name: Explorer
    description: Calls that interact with locally running explorer
servers:
  - url: 'https://basic2.thecorporation.club'
  - url: 'http://157.230.249.150:16127'
  - url: 'http://94.177.240.7:16127'
  - url: 'http://89.40.115.8:16127'
  - url: 'http://94.177.241.10:16127'
  - url: 'http://54.37.234.130:16127'
  - url: 'http://194.182.83.182:16127'
  - url: 'https://157.230.249.150:16128'
  - url: 'http://127.0.0.1:16127'
paths:
  /zelid/loginphrase:
    get:
      tags:
        - Authentication
        - ZelID
      summary: Obtain login phrase
      description: >-
        Obtain valid Login Phrase for signing into ZelFlux. Login Phrase is at
        least 40 characters, first 13 characters is server timestamp and is
        valid for 15 minutes. **PUBLIC**
      operationId: loginPhrase
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: loginphrase
              example:
                status: success
                data: 1574994809615gj4ct52kzz695twl0l27np0ivkmvu2ow4lbtpwk2nvf2k
  /zelid/emergencyphrase:
    get:
      tags:
        - ZelID
      summary: Obtain emergency login phrase
      description: Obtain emergency Login Phrase for signing into ZelFlux. **PUBLIC**
      operationId: emergencyLoginPhrase
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: loginphrase
              example:
                status: success
                data: 1587939091067l06vdyv5wtl80q5aj0npi3vyyig869ogf7o7jxfpu68r
  /zelid/verifylogin:
    post:
      tags:
        - Authentication
        - ZelID
      summary: Login into ZelFlux
      description: >-
        Login into ZelFlux by submitting correct ZelID, login phrase and
        signature. Note that to get the signature of the signed message you
        would need to do the signing on Zelcore or your BTC wallet. If success
        status response is returned, we can use the supplied data(zelid,
        loginPhrase, signature) as zelauth header as part of api calls that
        require a user to be logged in. Additionally it is possible to listen
        for a response on websocket.
        ws://{ZelNode_IP}:16127/ws/zelid/{loginPhrase}. **PUBLIC**
      operationId: verifyLogin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                    enum:
                      - success
                      - error
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: explanation of status
                      zelid:
                        type: string
                        description: supplied ZelID or bitcoin P2PKH address
                      loginPhrase:
                        type: string
                        description: valid and active loginPhrase
                      signature:
                        type: string
                        description: signature of loginPhrase signed with zelid
                      privilege:
                        type: string
                        description: granted ZelFlux privilege
                        enum:
                          - user
                          - zelteam
                          - admin
              example:
                status: success
                data:
                  message: Successfully logged in
                  zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                  loginPhrase: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
                  signature: >-
                    IAMZBB0p8aQ6A0Zt8uUKFLdWvPJlBypuczhaM6/R+s5bI72NQs/TPF1KYywvJlumMZyvLmk7JelDwaQbfTjqtSs=
                  privilage: admin
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/ZelIDLogin'
        description: ZelID login object
        required: true
  /zelid/loggedsessions:
    get:
      tags:
        - ZelID
      summary: Obtain all logged sessions of ZelID.
      description: >-
        Gets all currently active logged sessions in ZelFlux tied to given
        ZelID. **USER**
      operationId: loggedSessions
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        zelid:
                          type: string
                          description: associated ZelID
                        loginPhrase:
                          type: string
                          description: login phrase used for session
              example:
                status: success
                data:
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566749385160npvtiku0z7yqsxgenyvzfmfrz7pyxrxvflv3sfztbc
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566822581693fuuo3oi0sqdvab9h8baavc0kdawxvbwjgdbjsy5tk739m
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566970790344nhd5tjwyphq4l1azf5o64axfz75b8892poo853ivbfc
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 15673514189266fzehz9q1ujvw4fg5lsko9q6qrfji3iwfg9hkblx5dpm
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1575011828315mzqenqvi9ixaq0yr34g8jtvwgcs3d33cf1ies0myd
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
  /zelid/logoutcurrentsession:
    get:
      tags:
        - ZelID
      summary: Logs out current session
      description: >-
        This call logs out currently logged session which is determined by the
        supplied authentication header. **USER**
      operationId: logoutCurrentSession
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Successfully logged out
  /zelid/logoutallsessions:
    get:
      tags:
        - ZelID
      summary: Logs out all sessions
      description: >-
        This call logs out all logged sessions which are determined by the
        supplied authentication header. **USER**
      operationId: logoutAllSession
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Successfully logged out all sessions
  /zelid/loggedusers:
    get:
      tags:
        - ZelID
      summary: Gets information about logged users
      description: >-
        This call gets basic infromation about currently logged sessions of all
        users. **ADMIN**
      operationId: loggedUsers
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        zelid:
                          type: string
                          description: users ZelID
                        loginPhrase:
                          type: string
                          description: login phrase used for session
              example:
                status: success
                data:
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566749385160npvtiku0z7yqsxgenyvzfmfrz7pyxrxvflv3sfztbc
                  - zelid: 1E1NSwDHtvCziYP4CtgiDMcgvgZL64PhkR
                    loginPhrase: 1575805361736fdk6ak6yn5lgiuebz1oumh9z8rhyw0kf744f1sk2yd43
  /zelid/activeloginphrases:
    get:
      tags:
        - ZelID
      summary: Lists active login phrases
      description: >-
        This call gets a list of login phrases that are currently active (were
        generated less than 15 minutes ago) - phrases that have been used
        recently and phrases that can be used to log in.. **ADMIN**
      operationId: activeLoginPhrases
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        loginPhrase:
                          type: string
                          description: active login phrase
                        createdAt:
                          type: string
                          description: timestamp of loginPhrase creation in server time.
                        expireAt:
                          type: string
                          description: >-
                            expiration timestamp of loginPhrase. After this
                            time, the loginPhrase cannot be used anymore.
              example:
                status: success
                data:
                  - loginPhrase: 1575865221315yqilps02mx0e1tmf5ymtcry8mbzk4u3k3v17tdsxif6
                    createdAt: '2019-12-09T04:20:21.315Z'
                    expireAt: '2019-12-09T04:35:21.315Z'
                  - loginPhrase: 1575865221315yqilps02mx0e1tmf5ymtcry8mbzk4u3k3v17tdsxif6
                    createdAt: '2019-12-09T04:20:21.315Z'
                    expireAt: '2019-12-09T04:35:21.315Z'
  /zelid/logoutallusers:
    get:
      tags:
        - ZelID
      summary: Logs out all users
      description: >-
        This call logs out all logged users (including zelteam, admins).
        **ADMIN**
      operationId: logoutAllUsers
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Successfully logged out all users
  /zelid/logoutspecificsession:
    post:
      tags:
        - Authentication
        - ZelID
      summary: Logs out a specific session
      security:
        - ZelID: []
      description: >-
        Logs out a specific session. Requires the knowledge of a session
        loginPhrase and so users level is sufficient and user cannot logout
        another user as he does not know the loginPhrase. Admin can logout any
        specific session. **USER**
      operationId: logoutSpecificSession
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Session successfully logged out
      requestBody:
        content:
          text/plain:
            schema:
              type: object
              properties:
                loginPhrase:
                  description: Login Phrase of session we want to log out.
                  type: string
                  minLength: 40
                  example: 1574991374806spbcvsuwerl52tppx9dw5khuz8rew13mkq86gg8r2c
        description: Object containing loginPhrase
        required: true
  /zelnode/startzelcash:
    get:
      tags:
        - ZelNode
      summary: Starts ZelNodes ZelCash daemon
      description: >-
        Tries to start ZelCash daemon running on the ZelNode the call is run
        against without any extra parameters. **ADMIN**
      operationId: startZelCash
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelCash successfully started
  /zelnode/restartzelcash:
    get:
      tags:
        - ZelNode
      summary: Restarts ZelNodes ZelCash daemon
      description: >-
        Tries to restart ZelCash daemon running on the ZelNode the call is run
        against. ZelCash daemon is firstly stopped and then started without any
        extra parameters. **ADMIN**
      operationId: restartZelCash
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelCash successfully restarted
  /zelnode/reindexzelcash:
    get:
      tags:
        - ZelNode
      summary: Reindexes ZelNodes ZelCash daemon
      description: >-
        Tries to reindex ZelCash daemon running on the ZelNode the call is run
        against. ZelCash daemon is firstly stopped and then started with reindex
        flag. **ADMIN**
      operationId: reindexZelCashB
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelCash successfully reindexing
  /zelnode/updatezelflux:
    get:
      tags:
        - ZelNode
      summary: Updates ZelFlux to the latest version
      description: >-
        Updates ZelFlux to the latest version available according to github
        master branch. ZelFlux will restart its services after the update.
        **ZELTEAM** **ADMIN**
      operationId: updateZelFlux
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelFlux successfully updating
  /zelnode/hardupdatezelflux:
    get:
      tags:
        - ZelNode
      summary: Perform hard update to the latest version
      description: >-
        Hard updates to latest version by removing node_modules and
        package-lock.json before executing git reset --hard and git pull. This
        may resolve any issues that may arise from ZelFlux not being able to
        update using the `GET /zelnode/updatezelflux` call. ZelFlux will restart
        its services after the update. **ZELTEAM** **ADMIN**
      operationId: hardUpdateZelFlux
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelFlux successfully updating
  /zelnode/rebuildzelfront:
    get:
      tags:
        - ZelNode
      summary: Rebuild UI - ZelFront of ZelFlux
      description: >-
        Rebuilds ZelFront part of ZelFlux. May help resolving frontend issues.
        **ZELTEAM** **ADMIN**
      operationId: rebuildZelFront
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelFlux successfully rebuilt
  /zelnode/updatezelcash:
    get:
      tags:
        - ZelNode
      summary: Updates ZelCash daemon
      description: >-
        Updates the ZelCash daemon of ZelNode to the latest available version
        according to official Zel APT repository. ZelCash daemon is restarted
        with no extra parameters during this update. **ZELTEAM** **ADMIN**
      operationId: updateZelCash
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelCash successfully updated
  /zelnode/updatezelbench:
    get:
      tags:
        - ZelNode
      summary: Updates Zelbench daemon
      description: >-
        Updates the ZelBench daemon of ZelNode to the latest available version
        according to official Zel APT repository. ZelBench daemon is restarted
        with no extra parameters during this update. **ZELTEAM** **ADMIN**
      operationId: updateZelBench
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: ZelBench successfully updated
  /zelnode/zelcashdebug:
    get:
      tags:
        - ZelNode
      summary: Returns with the zelcash debug log
      description: >-
        Returns with the debug log located in ZelCash data directory.
        **ZELTEAM** **ADMIN**
      operationId: zelcashDebug
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Debug log
              example: >-
                2020-05-09 11:27:30 Zelcash version v4.0.1-32bd16d-dirty
                (2020-03-20 19:05:39 +0000) 2020-05-09 11:27:30 AppInit2:
                parameter interaction: -externalip set -> setting -discover=0
                2020-05-09 11:27:30 Using BerkeleyDB version Berkeley DB 6.2.23:
                (March 28, 2016) 2020-05-09 11:27:30 Default data directory
                /home/zel/.zelcash 2020-05-09 11:27:30 Using data directory
                /home/zel/.zelcash/ 2020-05-09 11:27:30 Using config file
                /home/zel/.zelcash/zelcash.conf 2020-05-09 11:27:30 Using at
                most 256 connections (1024 file descriptors available)
                2020-05-09 11:27:30 Using 2 threads for script verification
                2020-05-09 11:27:30 scheduler thread start 2020-05-09 11:27:30
                Loading Sapling (Spend) parameters from
                /home/zel/.zcash-params/sapling-spend.params 2020-05-09 11:27:30
                Loading Sapling (Output) parameters from
                /home/zel/.zcash-params/sapling-output.params 2020-05-09
                11:27:30 Loading Sapling (Sprout Groth16) parameters from
                /home/zel/.zcash-params/sprout-groth16.params 2020-05-09
                11:27:34 Loaded Sapling parameters in 4.129045s seconds.
                2020-05-09 11:27:34 Binding RPC on address 0.0.0.0 port 16124
                failed. 2020-05-09 11:27:34 HTTP: creating work queue of depth
                16 2020-05-09 11:27:34 HTTP: starting 4 worker threads
                2020-05-09 11:27:34 Using wallet wallet.dat 2020-05-09 11:27:34
                init message: Verifying wallet...
  /zelnode/zelbenchdebug:
    get:
      tags:
        - ZelNode
      summary: Returns with the ZelBench debug log
      description: >-
        Returns with the debug log located in zelbenchmark directory.
        **ZELTEAM** **ADMIN**
      operationId: zelbenchDebug
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Debug log
              example: >-
                2020-05-13 16:59:02 Benchmark version v1.0.0-beta1-53e0ea2-dirty
                (2020-04-25 13:03:38 +0800) 2020-05-13 16:59:02 Using OpenSSL
                version OpenSSL 1.1.1a  20 Nov 2018 2020-05-13 16:59:02 HTTP:
                creating work queue of depth 16 2020-05-13 16:59:02 HTTP:
                starting 4 worker threads 2020-05-13 16:59:02 Bound to
                [::]:16225 2020-05-13 16:59:02 Bound to 0.0.0.0:16225 2020-05-13
                16:59:02 init message: Done loading 2020-05-13 16:59:02 Starting
                Zelnodes Benchmarking Thread 2020-05-13 16:59:03 Path:
                /home/zel/zelflux/ZelBack 2020-05-13 16:59:03 ---ZelFlux usage:
                0.23012 2020-05-13 16:59:03 ---package evaluator system setup
                starting 2020-05-13 16:59:03 ---package evaluator already
                installed 2020-05-13 16:59:03 ---package evaluator found
                version: 1.0.11 2020-05-13 16:59:03 ---package evaluator system
                setup completed 2020-05-13 16:59:03 ---Starting computer specs
                test 2020-05-13 16:59:08 ---Found cores: 2 2020-05-13 16:59:08
                ---Found ram: 3.8 2020-05-13 16:59:08 ---Found HDD: 38.200001 G
                2020-05-13 16:59:08 ---Found HDD: 12.000000 G 2020-05-13
                16:59:08 ---Found DD_WRITE: 675.628 2020-05-13 16:59:08
                ---Finished computer specs test 2020-05-13 16:59:08 ---Starting
                package evaluator test 2020-05-13 16:59:29 ---Found eps v1:
                157.185 2020-05-13 16:59:29 ---Finished package evaluator test
  /zelnode/zelfluxerrorlog:
    get:
      tags:
        - ZelNode
      summary: Returns with the ZelFlux error log
      description: >-
        Returns with the error log located in zelflux directory. **ZELTEAM**
        **ADMIN**
      operationId: zelfluxErrorLog
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Error log
              example: >-
                2020-05-13T11:43:35.223Z          {}
                2020-05-13T16:58:20.492Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-13T16:58:20.494Z
                {} 2020-05-13T16:58:29.181Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-13T16:59:03.686Z
                {"code":-28,"name":"Error","message":"Loading zelnode payment
                cache..."} 2020-05-13T20:51:36.484Z          {}
                2020-05-14T07:15:38.355Z          {}
                2020-05-14T12:18:38.695Z          {}
                2020-05-14T13:30:35.112Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T13:30:35.114Z
                {} 2020-05-14T13:30:38.782Z          {}
                2020-05-14T13:31:09.309Z
                {"code":-28,"name":"Error","message":"Loading zelnode payment
                cache..."} 2020-05-14T13:37:30.205Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T13:38:10.519Z
                {"code":-28,"name":"Error","message":"Loading zelnode payment
                cache..."} 2020-05-14T13:58:08.810Z          {}
                2020-05-14T14:49:30.295Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T14:49:32.669Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T14:49:32.672Z
                {} 2020-05-14T14:50:10.807Z
                {"code":-28,"name":"Error","message":"Loading zelnode payment
                cache..."} 2020-05-14T16:19:39.197Z          {}
  /zelflux/info:
    get:
      tags:
        - ZelFlux
      summary: Combined info
      description: Combined info of statuses. **PUBLIC**
      operationId: getZelFluxInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      zelcash:
                        type: object
                        properties:
                          info:
                            $ref: '#/components/schemas/zelcashgetinfo'
                      zelnode:
                        type: object
                        properties:
                          status:
                            $ref: '#/components/schemas/zelnodestatus'
                      zelbench:
                        type: object
                        properties:
                          info:
                            $ref: '#/components/schemas/benchinfo'
                          status:
                            $ref: '#/components/schemas/benchstatus'
                          bench:
                            $ref: '#/components/schemas/getbenchmarks'
                      zelflux:
                        type: object
                        properties:
                          version:
                            type: string
                            description: Version number
                          ip:
                            type: string
                            description: Server's IP address
                          zelid:
                            type: string
                            description: Admin's ZelID
                          timezone:
                            type: string
                            description: Server's timezone
                          dos:
                            type: object
                            properties:
                              dosState:
                                type: number
                                description: Number indicating value of DOS state from 0 to infinity
                              dosMessage:
                                type: string
                                description: Status message or Null if no message
                      zelapps:
                        type: object
                        properties:
                          fluxusage:
                            type: string
                            description: Amount of CPU usage
                          runningapps:
                            $ref: '#/components/schemas/containerinfo'
                          resources:
                            $ref: '#/components/schemas/zelappsresources'
              example:
                status: success
                data:
                  zelcash:
                    info:
                      version: 4000150
                      protocolversion: 170016
                      walletversion: 60000
                      balance: 0
                      blocks: 590441
                      timeoffset: 0
                      connections: 27
                      proxy: ''
                      difficulty: 2629.292064176152
                      testnet: false
                      keypoololdest: 1588335749
                      keypoolsize: 101
                      paytxfee: 0
                      relayfee: 0.000001
                      errors: ''
                  zelnode:
                    status:
                      status: CONFIRMED
                      collateral: >-
                        COutPoint(d51c017cb61557137dc31e1fd630df34072555c8c659cd45af42cf33b5e2227e,
                        0)
                      txhash: >-
                        d51c017cb61557137dc31e1fd630df34072555c8c659cd45af42cf33b5e2227e
                      outidx: '0'
                      ip: 167.86.81.87
                      network: ipv4
                      added_height: 587002
                      confirmed_height: 587005
                      last_confirmed_height: 590486
                      last_paid_height: 590359
                      tier: SUPER
                      payment_address: t1SiLvqFSjz2VJ5oMzv92yk1EeekSjexc6U
                      pubkey: >-
                        049a8a290ecb831f7d23b82c3d9fc9fdd029e5c7b0832044480b96d36b785a8c680c4fcc832c885b6f376495ee884ae1137fc156f7102efbddb9900d45fe1787ff
                      activesince: '1588098076'
                      lastpaid: '1588504103'
                  zelbench:
                    info:
                      version: 1.3.1
                      rpcport: 16224
                    status:
                      status: online
                      benchmarking: SUPER
                      zelback: connected
                    bench:
                      ipaddress: 167.86.81.87
                      status: SUPER
                      time: 1588523682
                      cores: 4
                      ram: 7.800000190734863
                      ssd: 0
                      hdd: 200.0308074951172
                      ddwrite: 308.4692077636719
                      eps: 220.1355895996094
                  zelflux:
                    version: 0.58.2
                    ip: 167.86.81.87
                    zelid: 1K6nyw2VjV6jEN1f1CkbKn9htWnYkQabbR
                    timezone: Europe/Berlin
                    dos:
                      dosState: 0
                      dosMessage: null
                  zelapps:
                    fluxusage: '2.84624023'
                    runningapps:
                      - Id: >-
                          3502b57e324ce8a278700e5bb700c60a5d3256f45d22a07d53c970b41fceec6e
                        Names:
                          - /zelFoldingAtHome
                        Image: 'yurinnick/folding-at-home:latest'
                        ImageID: >-
                          sha256:ec31bf7fa749ec82c38191a83a325fa12689bfd3f4c05a0527e603c9aa9475f2
                        Command: >-
                          /opt/fahclient/entrypoint.sh --allow 0/0 --web-allow
                          0/0
                        Created: 1587401033
                        Ports:
                          - PrivatePort: 36330
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 7396
                            PublicPort: 30000
                            Type: tcp
                        Labels: {}
                        State: running
                        Status: Up 9 days
                        HostConfig:
                          NetworkMode: zelfluxDockerNetwork
                        NetworkSettings:
                          Networks:
                            zelfluxDockerNetwork:
                              IPAMConfig: null
                              Links: null
                              Aliases: null
                              NetworkID: >-
                                7c9c2fb1680cecdbd121668453894f3ddad4ce254aac2293dd3fbbc48968b2c0
                              EndpointID: >-
                                7e598a3022547ad3db5c8fae8ce411ddd031013700904059e1589812bf1596cc
                              Gateway: 172.16.0.1
                              IPAddress: 172.16.0.2
                              IPPrefixLen: 16
                              IPv6Gateway: ''
                              GlobalIPv6Address: ''
                              GlobalIPv6PrefixLen: 0
                              MacAddress: '02:23:ac:10:00:05'
                              DriverOpts: null
                        Mounts:
                          - Type: bind
                            Source: /home/zel/zelflux/ZelApps/zelFoldingAtHome
                            Destination: /config
                            Mode: ''
                            RW: true
                            Propagation: rprivate
                    resources:
                      zelAppsCpusLocked: 1
                      zelAppsRamLocked: 1000
                      zelAppsHddLocked: 15
  /zelflux/timezone:
    get:
      tags:
        - ZelFlux
      summary: ZelFlux timezone
      description: This will return with the timezone of the server. **PUBLIC**
      operationId: getZelFluxTimezone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Timezone
              example:
                status: success
                data: Europe/Berlin
  /zelflux/version:
    get:
      tags:
        - ZelFlux
      summary: Gets version of ZelFlux
      description: >-
        Gets version of ZelFlux running on the ZelNode the call is run against
        as it is in package.json. **PUBLIC**
      operationId: getZelFluxVersion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Zelflux version
              example:
                status: success
                data: 0.41.1
  /zelflux/ip:
    get:
      tags:
        - ZelFlux
      summary: ZelFlux IP
      description: >-
        This will return with the IP address of the server that ZelFlux is on.
        **PUBLIC**
      operationId: getZelFluxIP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: IP address
              example:
                status: success
                data: 49.12.8.215
  /zelflux/zelid:
    get:
      tags:
        - ZelFlux
      summary: Admin's ZelID
      description: This will return with the admin's ZelID. **PUBLIC**
      operationId: getZelFluxZelID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: ZelID
              example:
                status: success
                data: 1CcoEkKQZcwUXPSps4bZJDjUM3mqe9bNXf
  /zelflux/dosstate:
    get:
      tags:
        - ZelFlux
      summary: DOS state
      description: >-
        This will return with the DOS state that ZelFlux is in from 0 to infinity and if
        it reaches 10 it gets banned. **PUBLIC**
      operationId: getDOSState
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    items:
                      properties:
                        dosState:
                          type: integer
                          description: Status number
                        dosMessage:
                          type: string
                          description: Explanation of status
              example:
                status: success
                data:
                  dosState: 0
                  dosMessage: null
  /zelflux/connectedpeers:
    get:
      tags:
        - ZelFlux
      summary: Gets IP's of connected peers
      description: Gets list of IP addresses of outgoing connected peers. **PUBLIC**
      operationId: connectedPeers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: string
                      description: IP of connected peer
              example:
                status: success
                data:
                  - 193.188.15.252
                  - 164.68.127.146
                  - 188.239.61.176
                  - 89.187.128.108
  /zelflux/connectedpeersinfo:
    get:
      tags:
        - ZelFlux
      summary: Gets info of connected peers
      description: >-
        Gets list of ip addresses and rtt of the outgoing connected peers.
        **PUBLIC**
      operationId: connectedPeersInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: Ip address of connected peer
                        rtt:
                          type: integer
                          description: >-
                            Round trip time of packets being sent back and forth
                            between peers
              example:
                status: success
                data:
                  - ip: 193.188.15.252
                    rtt: 27
                  - ip: 164.68.127.146
                    rtt: 196
                  - ip: 188.239.61.176
                    rtt: 202
                  - ip: 89.187.128.108
                    rtt: 214
  /zelflux/incomingconnections:
    get:
      tags:
        - ZelFlux
      summary: List of incoming connections
      description: Gets list of IP addresses of incoming connected peers. **PUBLIC**
      operationId: incomingConnections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: string
                      description: Ip list of incoming connections
              example:
                status: success
                data:
                  - '::ffff:91.238.104.205'
                  - '::ffff:192.81.130.145'
                  - '::ffff:167.86.71.144'
                  - '::ffff:193.188.15.254'
                  - '::ffff:62.171.188.152'
                  - '::ffff:164.68.125.203'
  /zelflux/incomingconnectionsinfo:
    get:
      tags:
        - ZelFlux
      summary: Gets info of incoming connections
      description: Gets list of ip addresses and rtt of incoming connections. **PUBLIC**
      operationId: incomingConnectionsInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: Ip address of incoming connection
                        rtt:
                          type: string
                          description: >-
                            Round trip time of packets being sent back and forth
                            for incoming connection
              example:
                status: success
                data:
                  - ip: '::ffff:91.238.104.205'
                    rtt: 210
                  - ip: '::ffff:192.81.130.145'
                    rtt: 196
                  - ip: '::ffff:167.86.71.144'
                    rtt: null
                  - ip: '::ffff:193.188.15.254'
                    rtt: 214
                  - ip: '::ffff:62.171.188.152'
                    rtt: 194
                  - ip: '::ffff:164.68.125.203'
                    rtt: 205
  /zelflux/checkfluxavailability:
    get:
      tags:
        - ZelFlux
      summary: Check availability of ZelFlux
      description: >-
        Check if ZelFlux is reachable and available using IP of the ZelFlux's
        server. **PUBLIC**
      operationId: checkFluxAvailability
      parameters:
        - in: query
          name: ip
          required: true
          schema:
            type: string
          description: Ip address
          example: '?ip=193.188.15.245'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: sucess
                data:
                  message: Asking Flux is available
  /zelflux/broadcastmessage:
    post:
      tags:
        - ZelFlux
      summary: Broadcast message to peers
      description: Broadcast message to peers that are connected. **ZELTEAM** **ADMIN**
      operationId: broadcastMessageFromUserPost
      security:
        - ZelID: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The message
            example:
              data: Helloworld
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to ZelFlux network
    get:
      tags:
        - ZelFlux
      summary: Broadcast message to peers
      description: Broadcast message to peers that are connected. **ZELTEAM** **ADMIN**
      security:
        - ZelID: []
      parameters:
        - in: query
          name: data
          required: true
          schema:
            type: string
          description: The message
          example: '?data=HelloWorld'
      operationId: broadcastMessageFromUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to ZelFlux network
  /zelflux/broadcastmessagetooutgoing:
    post:
      tags:
        - ZelFlux
      summary: Broadcast message to outgoing peers
      description: >-
        Broadcast message to peers on outgoing connections. **ZELTEAM**
        **ADMIN**
      operationId: broadcastMessageToOutgoingFromUserPost
      security:
        - ZelID: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The message
            example:
              data: Helloworld
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to ZelFlux network
    get:
      tags:
        - ZelFlux
      summary: Broadcast message to outgoing peers
      description: >-
        Broadcast message to peers on outgoing connections. **ZELTEAM**
        **ADMIN**
      operationId: broadcastMessageToOutgoingFromUser
      security:
        - ZelID: []
      parameters:
        - in: query
          name: data
          required: true
          schema:
            type: string
          description: The message
          example: '?data=HelloWorld'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to ZelFlux network
  /zelflux/broadcastmessagetoincoming:
    post:
      tags:
        - ZelFlux
      summary: Broadcast message to incoming peers
      description: >-
        Broadcast message to peers on incoming connections. **ZELTEAM**
        **ADMIN**
      operationId: broadcastMessageToIncomingFromUserPost
      security:
        - ZelID: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The message
            example:
              data: Helloworld
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to ZelFlux network
    get:
      tags:
        - ZelFlux
      summary: Broadcast message to incoming peers
      description: >-
        Broadcast message to peers on incoming connections. **ZELTEAM**
        **ADMIN**
      operationId: broadcastMessageToIncomingFromUser
      security:
        - ZelID: []
      parameters:
        - in: query
          name: data
          required: true
          schema:
            type: string
          description: The message
          example: '?data=HelloWorld'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to ZelFlux network
  /zelflux/addpeer:
    get:
      tags:
        - ZelFlux
      summary: Add peer option
      description: >-
        This call gives option to add peers to outgoing connections. **ZELTEAM**
        **ADMIN**
      operationId: addPeer
      security:
        - ZelID: []
      parameters:
        - in: query
          name: ip
          required: true
          schema:
            type: string
          description: Ip of peer to add
          example: '?ip=49.12.8.215'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Outgoing connection to 49.12.8.215 initiated
  /zelflux/removepeer:
    get:
      tags:
        - ZelFlux
      summary: Remove peer option
      description: >-
        This call does exact opposite of add and removes/drops a outgoing
        connected peer. **ZELTEAM** **ADMIN**
      operationId: removePeer
      security:
        - ZelID: []
      parameters:
        - in: query
          name: ip
          required: true
          schema:
            type: string
          description: Ip of peer to remove
          example: '?ip=49.12.8.215'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Outgoing connection to 49.12.8.215 closed
  /zelflux/removeincomingpeer:
    get:
      tags:
        - ZelFlux
      summary: Remove incoming peer
      description: Remove a incoming connected peer. **ZELTEAM** **ADMIN**
      operationId: removeIncomingPeer
      security:
        - ZelID: []
      parameters:
        - in: query
          name: ip
          required: true
          schema:
            type: string
          description: Ip of peer to remove
          example: '?ip=49.12.8.215'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Incoming connection to 49.12.8.215 closed
  /zelflux/allowport:
    get:
      tags:
        - ZelFlux
      summary: Open port on server
      description: >-
        This will open a port on the server and adding it to the firewall rules.
        **ZELTEAM** **ADMIN**
      operationId: allowPortApi
      security:
        - ZelID: []
      parameters:
        - in: query
          name: port
          required: true
          schema:
            type: integer
          description: Port number to open
          example: '?port=22222'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      code:
                        type: integer
                        description: Port number
                      name:
                        type: integer
                        description: Port number
                      message:
                        type: string
                        description: Explanation of status
              example:
                status: success
                data:
                  code: 22222
                  name: 22222
                  message: Rule added\nRule added (v6)\n
  /zelcash/help:
    get:
      tags:
        - ZelCash
      summary: RPC list
      description: >-
        Gets list of RPC for the Zelcash daemon or if command query is used it
        will respond with the help info for that specified call. **PUBLIC**
      operationId: help
      parameters:
        - in: query
          name: command
          schema:
            type: string
          description: >-
            Accepts both help/command and ?command=getinfo. If omited, default
            help will be displayed.
          example: '?command=getmininginfo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: RPC list
              example:
                status: success
                data: >-
                  == Addressindex ==

                  getaddressbalance {"addresses": ["taddr", ...]}

                  getaddressdeltas {"addresses": ["taddr", ...], ("start": n),
                  ("end": n), ("chainInfo": true|false)}

                  getaddressmempool {"addresses": ["taddr", ...]}

                  getaddresstxids {"addresses": ["taddr", ...], ("start": n),
                  ("end": n)}

                  getaddressutxos {"addresses": ["taddr", ...], ("chainInfo":
                  true|false)}


                  == Benchmarks ==

                  getbenchmarks

                  getbenchstatus

                  startzelbenchd

                  stopzelbenchd


                  == Blockchain ==

                  getbestblockhash

                  getblock "hash|height" ( verbosity )

                  getblockchaininfo

                  getblockcount

                  getblockdeltas "blockhash"

                  getblockhash index

                  getblockhashes high low ( {"noOrphans": true|false,
                  "logicalTimes": true|false} )

                  getblockheader "hash" ( verbose )

                  getchaintips

                  getdifficulty

                  getmempoolinfo

                  getrawmempool ( verbose )

                  getspentinfo {"txid": "txidhex", "index": n}

                  gettxout "txid" n ( includemempool )

                  gettxoutproof ["txid",...] ( blockhash )

                  gettxoutsetinfo

                  verifychain ( checklevel numblocks )

                  verifytxoutproof "proof"


                  == Control ==

                  getinfo

                  help ( "command" )

                  stop


                  == Disclosure ==

                  z_getpaymentdisclosure "txid" "js_index" "output_index"
                  ("message")

                  z_validatepaymentdisclosure "paymentdisclosure"


                  == Generating ==

                  generate numblocks

                  getgenerate

                  setgenerate generate ( genproclimit )


                  == Mining ==

                  getblocksubsidy height

                  getblocktemplate ( "jsonrequestobject" )

                  getlocalsolps

                  getmininginfo

                  getnetworkhashps ( blocks height )

                  getnetworksolps ( blocks height )

                  prioritisetransaction <txid> <priority delta> <fee delta>

                  submitblock "hexdata" ( "jsonparametersobject" )


                  == Network ==

                  addnode "node" "add|remove|onetry"

                  clearbanned

                  disconnectnode "node"

                  getaddednodeinfo dns ( "node" )

                  getconnectioncount

                  getdeprecationinfo

                  getnettotals

                  getnetworkinfo

                  getpeerinfo

                  listbanned

                  ping

                  setban "ip(/netmask)" "add|remove" (bantime) (absolute)


                  == Rawtransactions ==

                  createrawtransaction [{"txid":"id","vout":n},...]
                  {"address":amount,...} ( locktime ) ( expiryheight )

                  decoderawtransaction "hexstring"

                  decodescript "hex"

                  fundrawtransaction "hexstring"

                  getrawtransaction "txid" ( verbose )

                  sendrawtransaction "hexstring" ( allowhighfees )

                  signrawtransaction "hexstring" (
                  [{"txid":"id","vout":n,"scriptPubKey":"hex","redeemScript":"hex"},...]
                  ["privatekey1",...] sighashtype )


                  == Util ==

                  createmultisig nrequired ["key",...]

                  estimatefee nblocks

                  estimatepriority nblocks

                  validateaddress "zelcashaddress"

                  verifymessage "zelcashaddress" "signature" "message"

                  z_validateaddress "zaddr"


                  == Wallet ==

                  addmultisigaddress nrequired ["key",...] ( "account" )

                  backupwallet "destination"

                  dumpprivkey "t-addr"

                  dumpwallet "folder/filename"

                  encryptwallet "passphrase"

                  getaccount "zelcashaddress"

                  getaccountaddress "account"

                  getaddressesbyaccount "account"

                  getbalance ( "account" minconf includeWatchonly )

                  getnewaddress ( "account" )

                  getrawchangeaddress

                  getreceivedbyaccount "account" ( minconf )

                  getreceivedbyaddress "zelcashaddress" ( minconf )

                  gettransaction "txid" ( includeWatchonly )

                  getunconfirmedbalance

                  getwalletinfo

                  importaddress "address" ( "label" rescan )

                  importprivkey "zelcashprivkey" ( "label" rescan )

                  importwallet "filename"

                  keypoolrefill ( newsize )

                  listaccounts ( minconf includeWatchonly)

                  listaddressgroupings

                  listlockunspent

                  listreceivedbyaccount ( minconf includeempty includeWatchonly)

                  listreceivedbyaddress ( minconf includeempty includeWatchonly)

                  listsinceblock ( "blockhash" target-confirmations
                  includeWatchonly)

                  listtransactions ( "account" count from includeWatchonly)

                  listunspent ( minconf maxconf  ["address",...] )

                  lockunspent unlock [{"txid":"txid","vout":n},...]

                  move "fromaccount" "toaccount" amount ( minconf "comment" )

                  rescanblockchain (start_height)

                  sendfrom "fromaccount" "tozelcashaddress" amount ( minconf
                  "comment" "comment-to" )

                  sendmany "fromaccount" {"address":amount,...} ( minconf
                  "comment" ["address",...] )

                  sendtoaddress "zelcashaddress" amount ( "comment" "comment-to"
                  subtractfeefromamount )

                  setaccount "zelcashaddress" "account"

                  settxfee amount

                  signmessage "t-addr" "message"

                  z_exportkey "zaddr"

                  z_exportviewingkey "zaddr"

                  z_exportwallet "folder/filename"

                  z_getbalance "address" ( minconf )

                  z_getmigrationstatus

                  z_getnewaddress ( type )

                  z_getoperationresult (["operationid", ... ])

                  z_getoperationstatus (["operationid", ... ])

                  z_gettotalbalance ( minconf includeWatchonly )

                  z_importkey "zkey" ( rescan startHeight )

                  z_importviewingkey "vkey" ( rescan startHeight )

                  z_importwallet "filename"

                  z_listaddresses ( includeWatchonly )

                  z_listoperationids

                  z_listreceivedbyaddress "address" ( minconf )

                  z_listunspent ( minconf maxconf includeWatchonly ["zaddr",...]
                  )

                  z_mergetoaddress ["fromaddress", ... ] "toaddress" ( fee ) (
                  transparent_limit ) ( shielded_limit ) ( memo )

                  z_sendmany "fromaddress" [{"address":... ,"amount":...},...] (
                  minconf ) ( fee )

                  z_setmigration enabled

                  z_shieldcoinbase "fromaddress" "tozaddress" ( fee ) ( limit )

                  zcbenchmark benchmarktype samplecount

                  zcrawjoinsplit rawtx inputs outputs vpub_old vpub_new

                  zcrawkeygen

                  zcrawreceive zcsecretkey encryptednote

                  zcsamplejoinsplit


                  == Zelnode ==

                  createzelnodebroadcast "command" ( "alias")

                  createzelnodekey

                  decodezelnodebroadcast "hexstring"

                  getzelnodecount

                  getzelnodeoutputs

                  getzelnodescores ( blocks )

                  getzelnodestatus

                  getzelnodewinners ( blocks "filter" )

                  listzelnodeconf ( "filter" )

                  listzelnodes ( "filter" )

                  relayzelnodebroadcast "hexstring"

                  spork "name" ( value )

                  startdeterministiczelnode alias_name lockwallet

                  startzelnode "all|alias" lockwallet ( "alias" )

                  viewdeterministiczelnodelist ( "filter" )

                  zelnodecurrentwinner

                  zelnodedebug

                  znsync "status|reset"
  /zelcash/getinfo:
    get:
      tags:
        - ZelCash
      summary: Zelcash daemon info
      description: >-
        Returns an object containing various state info for the Zelcash daemon.
        **PUBLIC**
      operationId: getInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/zelcashgetinfo'
              example:
                status: success
                data:
                  version: 4000150
                  protocolversion: 170016
                  walletversion: 60000
                  balance: 0
                  blocks: 585849
                  timeoffset: 0
                  connections: 33
                  proxy: ''
                  difficulty: 2885.838697886431
                  testnet: false
                  keypoololdest: 1585688609
                  keypoolsize: 101
                  paytxfee: 0
                  relayfee: 0.000001
                  errors: ''
  /zelcash/getzelnodestatus:
    get:
      tags:
        - ZelCash
      summary: ZelNode status
      description: Returns an object containing various state of the ZelNode. **PUBLIC**
      operationId: getZelNodeStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/zelnodestatus'
              example:
                status: success
                data:
                  status: CONFIRMED
                  collateral: >-
                    COutPoint(5179622de68fac4c052c0ce1affeaa3faaf4624d7332f769f3fc5c42560455b6,
                    0)
                  txhash: >-
                    5179622de68fac4c052c0ce1affeaa3faaf4624d7332f769f3fc5c42560455b6
                  outidx: 0
                  ip: 144.91.114.167
                  network: ipv4
                  added_height: 572386
                  confirmed_height: 572389
                  last_confirmed_height: 586403
                  last_paid_height: 586319
                  tier: SUPER
                  payment_address: t1h7HLNYNmG6mZF8WC6BRLHqCib8hMqP3XC
                  pubkey: >-
                    0485c289e6df683ac2af0ce514260a20cc5a631336fee6bbcb897694134c5a5ad2a5d918f99d70a60c0cb30c705a8c5440f1cbca08e6d3f037320f40751c50555c
                  activesince: 1586334448
                  lastpaid: 1588014482
  /zelcash/listzelnodes:
    get:
      tags:
        - ZelCash
      summary: ZelNode list
      description: Gets a ranked list of Zelnodes. **PUBLIC**
      operationId: listZelNodes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        collateral:
                          type: string
                          description: Collateral txid and output index
                        ip:
                          type: string
                          description: Ip address of ZelNode server
                        added_height:
                          type: integer
                          description: Block height ZelNode was added to list
                        confirmed_height:
                          type: integer
                          description: Block height ZelNode was confirmed by the network
                        last_confirmed_height:
                          type: integer
                          description: Latest block height network confirmed the ZelNode
                        last_paid_height:
                          type: integer
                          description: Block the ZelNode was last paid
                        tier:
                          type: string
                          description: Tier of ZelNode
                        payment_address:
                          type: string
                          description: Address where rewards are paid
                        activesince:
                          type: integer
                          description: Active time of ZelNode in epoch
                        lastpaid:
                          type: integer
                          description: Last paid time in epoch
                        rank:
                          type: integer
                          description: Rank of ZelNode
              example:
                status: success
                data:
                  - collateral: >-
                      COutPoint(826d37f13065e87f77ce1667e035b30933f78462274062aa7e76f249b6ab59db,
                      0)
                    ip: 95.216.236.190
                    added_height: 562050
                    confirmed_height: 562053
                    last_confirmed_height: 588205
                    last_paid_height: 587939
                    tier: BASIC
                    payment_address: t1KrT6iKh384mQHwfAPcEFm3U7yFKwhmHbo
                    activesince: 1585083381
                    lastpaid: 1588210538
                    rank: 0
                  - collateral: >-
                      COutPoint(3798162c2b60906a9feff0efa38b57444f3749bebe397cba4edd495b929ed9b5,
                      0)
                    ip: 77.55.194.135
                    added_height: 587653
                    confirmed_height: 587669
                    last_confirmed_height: 588184
                    last_paid_height: 587940
                    tier: BASIC
                    payment_address: t1QEA6PepP2wS3Lg6gZDiFzRB6PfxWLYeK5
                    activesince: 1588175897
                    lastpaid: 1588210563
                    rank: 1
                  - collateral: >-
                      COutPoint(a375169d97fcafac46f673045dfa0a78dd78e6bc6db181df18bf39dbe03926a4,
                      0)
                    ip: 96.52.90.87
                    added_height: 572579
                    confirmed_height: 572581
                    last_confirmed_height: 588198
                    last_paid_height: 587986
                    tier: SUPER
                    payment_address: t1a4J5u9rjrgVZLwRPSy7VPNoVVkeErNErk
                    activesince: 1586358287
                    lastpaid: 1588216950
                    rank: 0
                  - collateral: >-
                      COutPoint(381d29a87b96e82253b3f9581618777469f854ae740b6a785c61867aa6f71e60,
                      0)
                    ip: 207.180.253.144
                    added_height: 585797
                    confirmed_height: 585799
                    last_confirmed_height: 588206
                    last_paid_height: 587988
                    tier: SUPER
                    payment_address: t1ZvKaPfgXJsY1DkYJ5gKwtjKFUkZcuQB2U
                    activesince: 1587952571
                    lastpaid: 1588217098
                    rank: 1
                  - collateral: >-
                      COutPoint(1a2c265b7d1d93941c4d551e61c90cc14482579835a4924e1e169339317bbef9,
                      0)
                    ip: 47.22.47.186
                    added_height: 582736
                    confirmed_height: 582738
                    last_confirmed_height: 588198
                    last_paid_height: 588034
                    tier: BAMF
                    payment_address: t1bNJrZ9JwWwvroT7YUJUSDfMQ2r21vZppe
                    activesince: 1587582537
                    lastpaid: 1588222759
                    rank: 0
  /zelcash/viewdeterministiczelnodelist:
    get:
      tags:
        - ZelCash
      summary: Deterministic ZelNode list
      description: View deterministic list of ZelNodes by rank. **PUBLIC**
      operationId: viewDeterministicZelNodeList
      parameters:
        - in: query
          name: filter
          schema:
            type: string
          description: >-
            Accepts both viewdeterministiczelnodelist/filter and
            ?filter=193.188.15.238. Filter query will filter list by ,txhash,
            payment address, ip, or pubkey. If ommited, full list will be
            displayed.
          example: '?filter=193.188.15.238'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        collateral:
                          type: string
                          description: Collateral txid and output index
                        txhash:
                          type: string
                          description: Transaction id
                        outidx:
                          type: integer
                          description: Output index
                        ip:
                          type: string
                          description: Ip address of ZelNode server
                        network:
                          type: string
                          description: 'Network type (IPv4, IPv6, onion)'
                        added_height:
                          type: integer
                          description: Block height ZelNode was added to list
                        confirmed_height:
                          type: integer
                          description: Block height ZelNode was confirmed by the network
                        last_confirmed_height:
                          type: integer
                          description: Latest block height network confirmed the ZelNode
                        last_paid_height:
                          type: integer
                          description: Block the ZelNode was last paid
                        tier:
                          type: string
                          description: Tier of ZelNode
                        payment_address:
                          type: string
                          description: Address where rewards are paid
                        pubkey:
                          type: string
                          description: Zelnode public key used for message broadcasting
                        activesince:
                          type: integer
                          description: Active time of ZelNode in epoch
                        lastpaid:
                          type: integer
                          description: Last paid time in epoch
                        rank:
                          type: integer
                          description: Rank of ZelNode
              example:
                status: success
                data:
                  - collateral: >-
                      COutPoint(436d3450affca4dd78a3755f816eb7d46f922dd430e0046b94f26ce88c008e79,
                      0)
                    txhash: >-
                      436d3450affca4dd78a3755f816eb7d46f922dd430e0046b94f26ce88c008e79
                    outidx: 0
                    ip: 77.55.210.97
                    network: ipv4
                    added_height: 562050
                    confirmed_height: 562053
                    last_confirmed_height: 588205
                    last_paid_height: 587939
                    tier: BASIC
                    payment_address: t1ZhnnTVUfgwKbmtFvmYtSb1xwPpSdJmzaY
                    pubkey: >-
                      043249d5fc0517976c8eeaaf96ce306c00687cea677be0181cdddaf8f8e044119f13258083fb0a8e98afdf57994331cd1e71958ce63b7b2d0a2dda0e095bd2a2de
                    activesince: 1585083381
                    lastpaid: 1588210538
                    rank: 0
                  - collateral: >-
                      COutPoint(62e0f589a36b9d009f060bcb062a9baf0a44ed3cb5fb4ba68fb5e8d1c6a76ed3,
                      0)
                    txhash: >-
                      62e0f589a36b9d009f060bcb062a9baf0a44ed3cb5fb4ba68fb5e8d1c6a76ed3
                    outidx: 0
                    ip: 207.180.238.133
                    network: ipv4
                    added_height: 587653
                    confirmed_height: 587669
                    last_confirmed_height: 588184
                    last_paid_height: 587940
                    tier: BASIC
                    payment_address: t1WWAUFtKyytFzuXpn3Rzc6fGFndzD6xWLK
                    pubkey: >-
                      0450331d67221677cdca27c7cce40c52d3f3aae1c71a3dbf0c7322a7739bb42855246a9ab3a0b4280f20a6ebb3bf4dcc2a2290b74e533560d9c64014d8937bd1bb
                    activesince: 1588175897
                    lastpaid: 1588210563
                    rank: 1
                  - collateral: >-
                      COutPoint(b81456f6cb28cab6bb7c715a26cb40dbe841e9d14bf47aadbf7a50fb8a32f7f4,
                      0)
                    txhash: >-
                      b81456f6cb28cab6bb7c715a26cb40dbe841e9d14bf47aadbf7a50fb8a32f7f4
                    outidx: 0
                    ip: 49.12.41.242
                    network: ipv4
                    added_height: 572579
                    confirmed_height: 572581
                    last_confirmed_height: 588198
                    last_paid_height: 587986
                    tier: SUPER
                    payment_address: t1Wz3D8rTRB3xZi8WE8efgMzRwHhpg8dAWF
                    pubkey: >-
                      04e993a952569ecd6eb26eac7abdb699ca8e3f1debeaf544ef85b3c5838b74d7b30e196e917cb6e2008b2dcb9e42cafc4c93ccafb2888faea26b2e3a1a343f469a
                    activesince: 1586358287
                    lastpaid: 1588216950
                    rank: 0
                  - collateral: >-
                      COutPoint(db8d6440f834f773561025c7327620bb1770df185ec506323f084c436eb9fca7,
                      0)
                    txhash: >-
                      db8d6440f834f773561025c7327620bb1770df185ec506323f084c436eb9fca7
                    outidx: 0
                    ip: 62.171.183.202
                    network: ipv4
                    added_height: 585797
                    confirmed_height: 585799
                    last_confirmed_height: 588206
                    last_paid_height: 587988
                    tier: SUPER
                    payment_address: t1bXEnPZ22LRtd8WCmmKZAF2gxqaAxWysTb
                    pubkey: >-
                      04bfdff6a29281e057f10c2162db0ba98f70133fc45ccfa3cd8440a1ddc0ae30172b81f73b098cfdfe5f413a361dc422a03a31066413850ba418f3f8a2df65a4e1
                    activesince: 1587952571
                    lastpaid: 1588217098
                    rank: 1
                  - collateral: >-
                      COutPoint(8dcdf431d67c54872dcbbbfe205df8d95bdf8d0c277f617ded10ff74d9242878,
                      0)
                    txhash: >-
                      8dcdf431d67c54872dcbbbfe205df8d95bdf8d0c277f617ded10ff74d9242878
                    outidx: 0
                    ip: 188.239.61.210
                    network: ipv4
                    added_height: 582736
                    confirmed_height: 582738
                    last_confirmed_height: 588198
                    last_paid_height: 588034
                    tier: BAMF
                    payment_address: t1ZPnohxvacmT8VaJqRyZyMkvzERddQMttk
                    pubkey: >-
                      0418588b950297e955f7cc211c4d32f4f976433e8f1d4e2f2f0c4a1efd0e7a3b5167f27a0ad92ceedfa5b40862d929934a5d453f1268ee36b6ec22a7e921883454
                    activesince: 1587582537
                    lastpaid: 1588222759
                    rank: 0
  /zelcash/getzelnodecount:
    get:
      tags:
        - ZelCash
      summary: ZelNode count
      description: >-
        Returns a count of ZelNodes and enabled ZelNodes categorized by tiers.
        **PUBLIC**
      operationId: getZelNodeCount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      total:
                        type: number
                        description: Total number of ZelNodes
                      stable:
                        type: number
                        description: Number of stable ZelNodes
                      basic-enabled:
                        type: number
                        description: Basic ZelNode count
                      super-enabled:
                        type: number
                        description: Super ZelNode count
                      bamf-enabled:
                        type: number
                        description: Bamf ZelNode count
                      ipv4:
                        type: number
                        description: ZelNodes on ipv4
                      ipv6:
                        type: number
                        description: ZelNodes on ipv6
                      onion:
                        type: string
                        description: ZelNodes on tor
              example:
                status: success
                data:
                  total: 692
                  stable: 692
                  basic-enabled: 293
                  super-enabled: 231
                  bamf-enabled: 174
                  ipv4: 692
                  ipv6: 0
                  onion: 0
  /zelcash/spork:
    get:
      tags:
        - ZelCash
      summary: Spork info
      description: Return spork values or their active state. **PUBLIC**
      operationId: spork
      parameters:
        - in: query
          name: name
          schema:
            type: string
          description: >-
            Use "show" to get values or "active" to show active state. When set
            up as a spork signer, the name of the spork can be used to update
            it's value.
          example: '?name=show'
        - in: query
          name: value
          schema:
            type: integer
          description: The value for the spork..
          example: '?name=...&value=4070908800'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      SPORK_1_ZELNODE_PAYMENT_ENFORCEMENT:
                        type: integer
                        description: Name of spork and value
                      SPORK_2_ZELNODE_UPGRADE_VOTE_ENFORCEMENT:
                        type: integer
                        description: Name of spork and value
              example:
                status: success
                data:
                  SPORK_1_ZELNODE_PAYMENT_ENFORCEMENT: 4070908800
                  SPORK_2_ZELNODE_UPGRADE_VOTE_ENFORCEMENT: 4070908800
  /zelcash/zelnodecurrentwinner:
    get:
      tags:
        - ZelCash
      summary: Current list of winners
      description: Gets a list of current ZelNode winners. **PUBLIC**
      operationId: zelNodeCurrentWinner
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      BASIC Winner:
                        type: object
                        properties:
                          collateral:
                            type: string
                            description: Collateral txid and output index of ZelNode
                          ip:
                            type: string
                            description: Ip address of ZelNode
                          added_height:
                            type: integer
                            description: Block height ZelNode was added
                          confirmed_height:
                            type: integer
                            description: Block height ZelNode was confirmed
                          last_confirmed_height:
                            type: integer
                            description: Block height ZelNode was last confirmed
                          last_paid_height:
                            type: integer
                            description: Block height ZelNode was last paid
                          tier:
                            type: string
                            description: ZelNode tier
                          payment_address:
                            type: string
                            description: Payment address
                      SUPER Winner:
                        type: object
                        properties:
                          collateral:
                            type: string
                            description: Collateral txid and output index of ZelNode
                          ip:
                            type: string
                            description: Ip address of ZelNode
                          added_height:
                            type: integer
                            description: Block height ZelNode was added
                          confirmed_height:
                            type: integer
                            description: Block height ZelNode was confirmed
                          last_confirmed_height:
                            type: integer
                            description: Block height ZelNode was last confirmed
                          last_paid_height:
                            type: integer
                            description: Block height ZelNode was last paid
                          tier:
                            type: string
                            description: ZelNode tier
                          payment_address:
                            type: string
                            description: Payment address
                      BAMF Winner:
                        type: object
                        properties:
                          collateral:
                            type: string
                            description: Collateral txid and output index of ZelNode
                          ip:
                            type: string
                            description: Ip address of ZelNode
                          added_height:
                            type: integer
                            description: Block height ZelNode was added
                          confirmed_height:
                            type: integer
                            description: Block height ZelNode was confirmed
                          last_confirmed_height:
                            type: integer
                            description: Block height ZelNode was last confirmed
                          last_paid_height:
                            type: integer
                            description: Block height ZelNode was last paid
                          tier:
                            type: string
                            description: ZelNode tier
                          payment_address:
                            type: string
                            description: Payment address
              example:
                status: success
                data:
                  BASIC Winner:
                    collateral: >-
                      COutPoint(5e6fdf0a56de71c3fcaf4091097d8feea7b3e1f966e334b7ea234a616813f934,
                      0)
                    ip: 66.119.15.218
                    added_height: 589025
                    confirmed_height: 589026
                    last_confirmed_height: 590742
                    last_paid_height: 590489
                    tier: BASIC
                    payment_address: t1VLEe6iBNGGicyiqQNzGWsZ6Z6pNZZrTyq
                  SUPER Winner:
                    collateral: >-
                      COutPoint(4da9b0320ab1a1e94662471732b722667cd68a25d5db72f18572e36f63452872,
                      0)
                    ip: 85.23.158.111
                    added_height: 585221
                    confirmed_height: 585222
                    last_confirmed_height: 590742
                    last_paid_height: 590538
                    tier: SUPER
                    payment_address: t1WdrzqRR4gh73mPJpN3PDB9a9ZFiatP9tp
                  BAMF Winner:
                    collateral: >-
                      COutPoint(7f69bbb001f27177d2b60b99e3dbe3d95b82b69b8d82a21b9829ddc27af2be01,
                      0)
                    ip: 193.188.15.153
                    added_height: 587646
                    confirmed_height: 587649
                    last_confirmed_height: 590742
                    last_paid_height: 590594
                    tier: BAMF
                    payment_address: t1dDaoT2WDv5M5gTdx7CzLgXEQSEeqVkryw
  /zelcash/getbestblockhash:
    get:
      tags:
        - ZelCash
      summary: Block hash of tip on longest chain
      description: >-
        Returns the hash of the best (tip) block in the longest block chain.
        **PUBLIC**
      operationId: getBestBlockHash
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Block hash
              example:
                status: success
                data: >-
                  00000045ee2d11311976f420b0d753dc7a6e2800a36cf07f6ec1572699737ab6
  /zelcash/getblock:
    get:
      tags:
        - ZelCash
      summary: Get block data
      description: >-
        Gets block data using block height or block hash you specify to get info
        for with verbosity option. **PUBLIC**
      operationId: getBlock
      parameters:
        - in: query
          name: hashheight
          required: true
          schema:
            type: integer
          description: Block hash or height
          example: '?hashheight=588530'
        - in: query
          name: verbosity
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
            default: 1
          description: >-
            If verbosity is 0, returns a string that is serialized, hex-encoded
            data for the block. If verbosity is 1, returns an Object with
            information about the block. If verbosity is 2, returns an Object
            with information about the block and information about each
            transaction. Response example shown is using the default value of 1.
          example: '?hashheight=...&verbosity=1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      hash:
                        type: string
                        description: The block hash
                      confirmations:
                        type: string
                        description: The number of confirmations or -1 if on wrong chain
                      size:
                        type: integer
                        description: The block size
                      height:
                        type: integer
                        description: The block height or index
                      version:
                        type: integer
                        description: The block version
                      merkleroot:
                        type: string
                        description: The merkle root
                      finalsaplingroot:
                        type: string
                        description: >-
                          The root of the Sapling commitment tree after applying
                          this block
                      tx:
                        type: array
                        items:
                          type: string
                          description: The transaction id's
                      time:
                        type: integer
                        description: The block time in seconds since epoch (Jan 1 1970 GMT)
                      nonce:
                        type: string
                        description: The nonce
                      solution:
                        type: string
                        description: The solution
                      bits:
                        type: string
                        description: The bits
                      difficulty:
                        type: number
                        description: The difficulty
                      chainwork:
                        type: string
                        description: The chainwork
                      anchor:
                        type: string
                        description: Merkle root of note commitment tree
                      valuePools:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 'Protocol name of pool(sprout,sapling)'
                            monitored:
                              type: boolean
                              description: Status of pool monitor
                            chainValue:
                              type: number
                              description: Pool value of ZEL
                            chainValueZat:
                              type: integer
                              description: Pool value of ZEL
                            valueDelta:
                              type: integer
                              description: Delta value
                            valueDeltaZat:
                              type: integer
                              description: Delta value
                      previousblockhash:
                        type: string
[...]
