openapi: 3.0.3
info:
  version: 4.9.1
  title: Flux
  contact:
    email: tadeas@runonflux.io
    url: 'https://docs.runonflux.io'
  license:
    name: GNU AGPLv3
    url: 'https://www.gnu.org/licenses/agpl-3.0.en.html'
  x-logo:
    url: 'https://raw.githubusercontent.com/runonflux/fluxdocs/master/flux.jpg'
  description: >-
    This is an API documentation of calls available to be made to any Flux.
    <br>
    GET Calls are available as both query and in order as path.
    <br>
    Flux is completely open source and we encourage everyone to feel free and
    contribute :)
    <br>
    Further questions or support join and ask in our [discord](https://discord.io/runonflux)


    # Introduction

    Flux possesses a 5 tier hiearchy level API.

    * **Public** API level - Available without any permission, does not require
    signing.

    * **User** API level - User level permission, requires signing.

    * **FluxTeam** API level - FluxTeam level permission (an appointed Flux Team
    member has access to those API calls), requires signing.

    * **Admin** API level - Admin level permission, requires signing. Flux
    owner.

    * **AdminAndFluxTeam** API level permission (Admin and Flux Team has access to
    these calls), requires signing.

    * **AppOwner** API level - AppOwner level permission, requires signing. App
    Owner.

    * **AppOwnerAbove** API level - AppOwnerAbove level permission (App Owner,
    FluxTeam, and Admin has access to these calls), requires signing.


    Most calls are available via GET request with some that may require large
    amount of data via POST request.

    Websocket is currently used only for simplifying login operations and for
    internal Flux communication.

    # Getting Started with the API

    * **1. Install Zelcore Wallet:** The Zelcore wallet is required for signing messages. Please install this if not already installed.

    * **2. Create Zelcore Account:** A Zelcore wallet account is required for signing messages. Please register an account if you don't already have one.

    * **3. Obtain API Authentication Credentials:** Follow the Authentication section of this API documentation in order to set up your credentials for using the rest of the API. You will need to use your Zelcore wallet for parts of this process.

    * **4. Set Up Authentication Credentials in Header:** Set up your zelidauth credentials in your header. If you are using variables, the signature value may need to be URLencoded.

externalDocs:
  description: Flux
  url: 'https://github.com/runonflux/flux'
tags:
  - name: Authentication
    description: >-
      Calls that are neccessary to be made for correct signing into Flux and
      obtaining zelauth header.
  - name: ID
    description: >-
      Calls that interact with Identity via ZelID (BTC/ETH address) and login/authentication 
      management of Flux
  - name: Daemon
    description: Calls that interact with locally running Flux daemon
  - name: Benchmark
    description: Calls that interact with locally running Benchmark daemon
  - name: Flux
    description: Calls that interact with Flux and its network
  - name: Apps
    description: >-
      Calls that interact with Apps fascilitated by local Flux and Flux
      network
  - name: Explorer
    description: Calls that interact with locally running explorer
  - name: Syncthing
    description: Calls that interact with Syncthing service
  - name: Fluxshare
    description: Calls that interact with Fluxshare service
servers:
  - url: 'https://api.runonflux.io'
paths:
  #ID
  /id/loginphrase:
    get:
      tags:
        - Authentication
        - ID
      summary: Obtain login phrase
      description: >-
        Obtain valid Login Phrase for signing into Flux. Login Phrase is at
        least 40 characters, first 13 characters is server timestamp and is
        valid for 15 minutes. **Public**
      operationId: loginPhrase
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: loginphrase
              example:
                status: success
                data: 1574994809615gj4ct52kzz695twl0l27np0ivkmvu2ow4lbtpwk2nvf2k
  /id/emergencyphrase:
    get:
      tags:
        - ID
      summary: Obtain emergency login phrase
      description: Obtain emergency Login Phrase for signing into Flux. **Public**
      operationId: emergencyLoginPhrase
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: loginphrase
              example:
                status: success
                data: 1587939091067l06vdyv5wtl80q5aj0npi3vyyig869ogf7o7jxfpu68r
  /id/verifylogin:
    post:
      tags:
        - Authentication
        - ID
      summary: Login into Flux
      description: >-
        Login into Flux by submitting correct ZelID, login phrase and
        signature. Note that to get the signature of the signed message you
        would need to do the signing on Zelcore or your BTC wallet or your ETH wallet. If success
        status response is returned, we can use the supplied data(zelid,
        loginPhrase, signature) as zelauth header as part of api calls that
        require a user to be logged in. Additionally it is possible to listen
        for a response on websocket.
        ws://{Flux_IP}:16127/ws/id/{loginPhrase}. **Public**
      operationId: verifyLogin
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/ZelIDLogin'
            example:
              loginPhrase: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
              zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
              signature: IAMZBB0p8aQ6A0Zt8uUKFLdWvPJlBypuczhaM6/R+s5bI72NQs/TPF1KYywvJlumMZyvLmk7JelDwaQbfTjqtSs=
        description: ZelID login object
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                    enum:
                      - success
                      - error
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: explanation of status
                      zelid:
                        type: string
                        description: supplied ZelID or bitcoin P2PKH address or ethereum address
                      loginPhrase:
                        type: string
                        description: valid and active loginPhrase
                      signature:
                        type: string
                        description: signature of loginPhrase signed with zelid/btc/eth address
                      privilege:
                        type: string
                        description: granted Flux privilege
                        enum:
                          - user
                          - fluxteam
                          - admin
              example:
                status: success
                data:
                  message: Successfully logged in
                  zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                  loginPhrase: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
                  signature: >-
                    IAMZBB0p8aQ6A0Zt8uUKFLdWvPJlBypuczhaM6/R+s5bI72NQs/TPF1KYywvJlumMZyvLmk7JelDwaQbfTjqtSs=
                  privilage: admin
  /id/providesign:
    post:
      tags:
        - Authentication
        - ID
      summary: Provide Signature
      description: >-
        Provide requested signature from signed message to return data.
        **Public**
      operationId: provideSign
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: ZelID or any P2PKH Bitcoin address or Ethereum address
                message:
                  type: string
                  description: >-
                    Login phrase message that was provided by GET
                    /id/loginphrase
                signature:
                  type: string
                  description: Signature of signed loginPhrase with zelid/btc/eth address
            example:
              address: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
              message: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
              signature: >-
                IAMZBB0p8aQ6A0Zt8uUKFLdWvPJlBypuczhaM6/R+s5bI72NQs/TPF1KYywvJlumMZyvLmk7JelDwaQbfTjqtSs=
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      signature:
                        type: string
                        description: Signature of signed loginPhrase with ZelID
                      identifier:
                        type: string
                        description: ZelID or any P2PKH Bitcoin address or Ethereum address
                      createdAt:
                        type: string
                        description: Start date and time of vaild message
                      expiredAt:
                        type: string
                        description: End date and and time of valid message
                      _id:
                        type: string
                        description: ObjectID
              example:
                status: success
                data:
                  signature: >-
                    IAMZBB0p8aQ6A0Zt8uUKFLdWvPJlBypuczhaM6/R+s5bI72NQs/TPF1KYywvJlumMZyvLmk7JelDwaQbfTjqtSs=
                  identifier: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                  createdAt: '2020-09-12T11:28:28.457Z'
                  expiredAt: '2020-09-12T11:43:28.457Z'
                  _id: 5f6cb0bcb7e30e24063e1777
  /id/loggedsessions:
    get:
      tags:
        - ID
      summary: Obtain all logged sessions of ZelID.
      description: >-
        Gets all currently active logged sessions in Flux tied to given
        ZelID. **User**
      operationId: loggedSessions
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        zelid:
                          type: string
                          description: associated ZelID
                        loginPhrase:
                          type: string
                          description: login phrase used for session
              example:
                status: success
                data:
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566749385160npvtiku0z7yqsxgenyvzfmfrz7pyxrxvflv3sfztbc
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566822581693fuuo3oi0sqdvab9h8baavc0kdawxvbwjgdbjsy5tk739m
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566970790344nhd5tjwyphq4l1azf5o64axfz75b8892poo853ivbfc
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 15673514189266fzehz9q1ujvw4fg5lsko9q6qrfji3iwfg9hkblx5dpm
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1575011828315mzqenqvi9ixaq0yr34g8jtvwgcs3d33cf1ies0myd
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
  /id/logoutcurrentsession:
    get:
      tags:
        - ID
      summary: Logs out current session
      description: >-
        This call logs out currently logged session which is determined by the
        supplied authentication header. **User**
      operationId: logoutCurrentSession
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Successfully logged out
  /id/logoutallsessions:
    get:
      tags:
        - ID
      summary: Logs out all sessions
      description: >-
        This call logs out all logged sessions which are determined by the
        supplied authentication header. **User**
      operationId: logoutAllSession
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Successfully logged out all sessions
  /id/loggedusers:
    get:
      tags:
        - ID
      summary: Gets information about logged users
      description: >-
        This call gets basic infromation about currently logged sessions of all
        users. **Admin**
      operationId: loggedUsers
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        zelid:
                          type: string
                          description: users ZelID
                        loginPhrase:
                          type: string
                          description: login phrase used for session
              example:
                status: success
                data:
                  - zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
                    loginPhrase: 1566749385160npvtiku0z7yqsxgenyvzfmfrz7pyxrxvflv3sfztbc
                  - zelid: 1E1NSwDHtvCziYP4CtgiDMcgvgZL64PhkR
                    loginPhrase: 1575805361736fdk6ak6yn5lgiuebz1oumh9z8rhyw0kf744f1sk2yd43
  /id/activeloginphrases:
    get:
      tags:
        - ID
      summary: Lists active login phrases
      description: >-
        This call gets a list of login phrases that are currently active (were
        generated less than 15 minutes ago) - phrases that have been used
        recently and phrases that can be used to log in.. **Admin**
      operationId: activeLoginPhrases
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        loginPhrase:
                          type: string
                          description: active login phrase
                        createdAt:
                          type: string
                          description: timestamp of loginPhrase creation in server time.
                        expireAt:
                          type: string
                          description: >-
                            expiration timestamp of loginPhrase. After this
                            time, the loginPhrase cannot be used anymore.
              example:
                status: success
                data:
                  - loginPhrase: 1575865221315yqilps02mx0e1tmf5ymtcry8mbzk4u3k3v17tdsxif6
                    createdAt: '2019-12-09T04:20:21.315Z'
                    expireAt: '2019-12-09T04:35:21.315Z'
                  - loginPhrase: 1575865221315yqilps02mx0e1tmf5ymtcry8mbzk4u3k3v17tdsxif6
                    createdAt: '2019-12-09T04:20:21.315Z'
                    expireAt: '2019-12-09T04:35:21.315Z'
  /id/logoutallusers:
    get:
      tags:
        - ID
      summary: Logs out all users
      description: >-
        This call logs out all logged users (including fluxteam, admins).
        **Admin**
      operationId: logoutAllUsers
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Successfully logged out all users
  /id/logoutspecificsession:
    post:
      tags:
        - Authentication
        - ID
      summary: Logs out a specific session
      security:
        - ZelID: []
      description: >-
        Logs out a specific session. Requires the knowledge of a session
        loginPhrase and so users level is sufficient and user cannot logout
        another user as he does not know the loginPhrase. Admin can logout any
        specific session. **User**
      operationId: logoutSpecificSession
      requestBody:
        content:
          text/plain:
            schema:
              type: object
              properties:
                loginPhrase:
                  description: Login Phrase of session we want to log out.
                  type: string
                  minLength: 40
                  example: 1574991374806spbcvsuwerl52tppx9dw5khuz8rew13mkq86gg8r2c
            example:
              loginPhrase: 1575012988077darschvve5ag82g8e8sgeij4sn61842ya7ovxi9r3kba
        description: Object containing loginPhrase
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Session successfully logged out
  /id/checkprivilege:
    post:
      tags:
        - ID
      summary: Checks the privilege level of user
      security:
        - ZelID: []
      description: >-
        Checks the privilege level of the user. The 5 levels are public, user, admin, flux team and app owner. **User**
      operationId: checkLoggedUser
      requestBody:
        content:
          text/plain:
            schema:
              type: object
              properties:
                zelid:
                  type: string
                  description: ZelID
                signature:
                  type: string
                  description: Signature of signed loginPhrase with ZelID
            example:
              zelid: 1CbErtneaX2QVyUfwU7JGB7VzvPgrgc3uC
              signature: IAMZBB0p8aQ6A0Zt8uUKFLdWvPJlBypuczhaM6/R+s5bI72NQs/TPF1KYywvJlumMZyvLmk7JelDwaQbfTjqtSs=
        description: Object containing privilege level
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: admin
  #Flux
  /flux/startdaemon:
    get:
      tags:
        - Flux
      summary: Starts Flux daemon
      description: >-
        Tries to start Flux daemon running on the Flux node the call is run
        against without any extra parameters. **Admin**
      operationId: startdaemon
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Flux successfully started
  /flux/restartdaemon:
    get:
      tags:
        - Flux
      summary: Restarts Flux daemon
      description: >-
        Tries to restart Flux daemon running on the Flux node the call is run
        against. Flux daemon is firstly stopped and then started without any
        extra parameters. **Admin**
      operationId: restartdaemon
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Daemon successfully restarted
  /flux/entermaster:
    get:
      tags:
        - Flux
      summary: Switch to master branch of FluxOS
      description: >-
        Tries to switch to master branch of FluxOS. **Admin**
      operationId: FluxEnterMaster
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Master branch successfully entered
  /flux/enterdevelopment:
    get:
      tags:
        - Flux
      summary: Switch to development branch of FluxOS
      description: >-
        Tries to switch to development branch of FluxOS. **Admin**
      operationId: FluxEnterDevelopment
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Development branch successfully entered
  /flux/reindexdaemon:
    get:
      tags:
        - Flux
      summary: Reindexes Flux daemon
      description: >-
        Tries to reindex Flux daemon running on the Flux node the call is run
        against. Flux daemon is firstly stopped and then started with reindex
        flag. **Admin**
      operationId: reindexFluxB
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Flux successfully reindexing
  /flux/udpateflux:
    get:
      tags:
        - Flux
      summary: Updates Flux to the latest version
      description: >-
        Updates Flux to the latest version available according to github
        master branch. Flux will restart its services after the update.
        **AdminAndFluxTeam**
      operationId: updateFlux
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Flux successfully updating
  /flux/hardupdateflux:
    get:
      tags:
        - Flux
      summary: Perform hard update to the latest version
      description: >-
        Hard updates to latest version by removing node_modules and
        package-lock.json before executing git reset --hard and git pull. This
        may resolve any issues that may arise from Flux not being able to
        update using the `GET /flux/updateflux` call. Flux will restart
        its services after the update. **AdminAndFluxTeam**
      operationId: hardUpdateFlux
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Flux successfully updating
  /flux/rebuildhome:
    get:
      tags:
        - Flux
      summary: Rebuild UI - Home of Flux
      description: >-
        Rebuilds Home part of Flux. May help resolving frontend issues.
        **AdminAndFluxTeam**
      operationId: rebuildZelFront
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Flux successfully rebuilt
  /flux/updatedaemon:
    get:
      tags:
        - Flux
      summary: Updates Flux daemon
      description: >-
        Updates the Flux daemon of Flux node to the latest available version
        according to official Flux APT repository. Flux daemon is restarted
        with no extra parameters during this update. **AdminAndFluxTeam**
      operationId: updateDaemon
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Daemon successfully updated
  /flux/updatebenchmark:
    get:
      tags:
        - Flux
      summary: Updates Benchmark daemon
      description: >-
        Updates the Benchmark daemon of Flux node to the latest available version
        according to official Flux APT repository. Benchmark daemon is restarted
        with no extra parameters during this update. **AdminAndFluxTeam**
      operationId: updateBenchmark
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Benchmark successfully updated
  /flux/daemondebug:
    get:
      tags:
        - Flux
      summary: Returns with the Flux debug log
      description: >-
        Returns with the debug log located in Flux data directory.
        **AdminAndFluxTeam**
      operationId: fluxDebug
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Debug log
              example: >-
                2020-05-09 11:27:30 Flux version v4.0.1-32bd16d-dirty
                (2020-03-20 19:05:39 +0000) 2020-05-09 11:27:30 AppInit2:
                parameter interaction: -externalip set -> setting -discover=0
                2020-05-09 11:27:30 Using BerkeleyDB version Berkeley DB 6.2.23:
                (March 28, 2016) 2020-05-09 11:27:30 Default data directory
                /home/user/.flux 2020-05-09 11:27:30 Using data directory
                /home/user/.flux/ 2020-05-09 11:27:30 Using config file
                /home/user/.flux/flux.conf 2020-05-09 11:27:30 Using at
                most 256 connections (1024 file descriptors available)
                2020-05-09 11:27:30 Using 2 threads for script verification
                2020-05-09 11:27:30 scheduler thread start 2020-05-09 11:27:30
                Loading Sapling (Spend) parameters from
                /home/user/.zcash-params/sapling-spend.params 2020-05-09 11:27:30
                Loading Sapling (Output) parameters from
                /home/user/.zcash-params/sapling-output.params 2020-05-09
                11:27:30 Loading Sapling (Sprout Groth16) parameters from
                /home/user/.zcash-params/sprout-groth16.params 2020-05-09
                11:27:34 Loaded Sapling parameters in 4.129045s seconds.
                2020-05-09 11:27:34 Binding RPC on address 0.0.0.0 port 16124
                failed. 2020-05-09 11:27:34 HTTP: creating work queue of depth
                16 2020-05-09 11:27:34 HTTP: starting 4 worker threads
                2020-05-09 11:27:34 Using wallet wallet.dat 2020-05-09 11:27:34
                init message: Verifying wallet...
  /flux/benchmarkdebug:
    get:
      tags:
        - Flux
      summary: Returns with the Benchmark debug log
      description: >-
        Returns with the debug log located in fluxbenchmark directory.
        **AdminAndFluxTeam**
      operationId: benchmarkDebuf
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Debug log
              example: >-
                2020-05-13 16:59:02 Benchmark version v1.0.0-beta1-53e0ea2-dirty
                (2020-04-25 13:03:38 +0800) 2020-05-13 16:59:02 Using OpenSSL
                version OpenSSL 1.1.1a  20 Nov 2018 2020-05-13 16:59:02 HTTP:
                creating work queue of depth 16 2020-05-13 16:59:02 HTTP:
                starting 4 worker threads 2020-05-13 16:59:02 Bound to
                [::]:16225 2020-05-13 16:59:02 Bound to 0.0.0.0:16225 2020-05-13
                16:59:02 init message: Done loading 2020-05-13 16:59:02 Starting
                Fluxnodes Benchmarking Thread 2020-05-13 16:59:03 Path:
                /home/user/flux/ZelBack 2020-05-13 16:59:03 ---Flux usage:
                0.23012 2020-05-13 16:59:03 ---package evaluator system setup
                starting 2020-05-13 16:59:03 ---package evaluator already
                installed 2020-05-13 16:59:03 ---package evaluator found
                version: 1.0.11 2020-05-13 16:59:03 ---package evaluator system
                setup completed 2020-05-13 16:59:03 ---Starting computer specs
                test 2020-05-13 16:59:08 ---Found cores: 2 2020-05-13 16:59:08
                ---Found ram: 3.8 2020-05-13 16:59:08 ---Found HDD: 38.200001 G
                2020-05-13 16:59:08 ---Found HDD: 12.000000 G 2020-05-13
                16:59:08 ---Found DD_WRITE: 675.628 2020-05-13 16:59:08
                ---Finished computer specs test 2020-05-13 16:59:08 ---Starting
                package evaluator test 2020-05-13 16:59:29 ---Found eps v1:
                157.185 2020-05-13 16:59:29 ---Finished package evaluator test
  /flux/taildaemondebug:
    get:
      tags:
        - Flux
      summary: Returns last lines of Flux debug log
      description: >-
        Returns last 100 lines known in the Flux debug log.
        **AdminAndFluxTeam**
      operationId: tailFluxDebug
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: >-
                    2020-09-12 01:41:43 keypool reserve 6

                    2020-09-12 01:41:43 keypool return 6

                    2020-09-12 01:41:47 UpdateTip: new
                    best=00000001445f7d700c03f4815cbd3504ba4b133f33493fa0513dfb34a904c024
                    height=684556  log2_work=45.426889  tx=4126528
                    date=2020-09-12 01:40:03 progress=0.999999
                    cache=55.5MiB(15859tx)

                    2020-09-12 01:41:48 keypool reserve 6

                    2020-09-12 01:41:48 keypool return 6

                    2020-09-12 01:41:51 keypool reserve 6

                    2020-09-12 01:41:51 keypool return 6

                    2020-09-12 01:41:56 peer=80 using obsolete version 170006;
                    disconnecting

                    2020-09-12 01:41:56 ProcessMessages(version, 103 bytes)
                    FAILED peer=80

                    2020-09-12 01:41:56 keypool reserve 6

                    2020-09-12 01:41:56 keypool return 6

                    2020-09-12 01:42:02 keypool reserve 6

                    2020-09-12 01:42:02 keypool return 6

                    2020-09-12 01:42:07 keypool reserve 6

                    2020-09-12 01:42:07 keypool return 6

                    2020-09-12 01:42:12 keypool reserve 6

                    2020-09-12 01:42:12 keypool return 6

                    2020-09-12 01:42:17 keypool reserve 6

                    2020-09-12 01:42:17 keypool return 6

                    2020-09-12 01:42:22 keypool reserve 6

                    2020-09-12 01:42:22 keypool return 6

                    2020-09-12 01:42:27 keypool reserve 6

                    2020-09-12 01:42:27 keypool return 6

                    2020-09-12 01:42:32 keypool reserve 6

                    2020-09-12 01:42:32 keypool return 6

                    2020-09-12 01:42:37 keypool reserve 6

                    2020-09-12 01:42:37 keypool return 6

                    2020-09-12 01:42:42 keypool reserve 6

                    2020-09-12 01:42:42 keypool return 6

                    2020-09-12 01:42:47 keypool reserve 6

                    2020-09-12 01:42:47 keypool return 6

                    2020-09-12 01:42:49 keypool reserve 6

                    2020-09-12 01:42:49 keypool return 6

                    2020-09-12 01:42:52 keypool reserve 6

                    2020-09-12 01:42:52 keypool return 6

                    2020-09-12 01:42:57 keypool reserve 6

                    2020-09-12 01:42:57 keypool return 6

                    2020-09-12 01:43:02 keypool reserve 6

                    2020-09-12 01:43:02 keypool return 6

                    2020-09-12 01:43:07 keypool reserve 6

                    2020-09-12 01:43:07 keypool return 6

                    2020-09-12 01:43:12 keypool reserve 6

                    2020-09-12 01:43:12 keypool return 6

                    2020-09-12 01:43:17 keypool reserve 6

                    2020-09-12 01:43:17 keypool return 6

                    2020-09-12 01:43:22 keypool reserve 6

                    2020-09-12 01:43:22 keypool return 6

                    2020-09-12 01:43:27 keypool reserve 6

                    2020-09-12 01:43:27 keypool return 6

                    2020-09-12 01:43:32 keypool reserve 6

                    2020-09-12 01:43:32 keypool return 6

                    2020-09-12 01:43:37 keypool reserve 6

                    2020-09-12 01:43:37 keypool return 6

                    2020-09-12 01:43:42 keypool reserve 6

                    2020-09-12 01:43:42 keypool return 6

                    2020-09-12 01:43:47 keypool reserve 6

                    2020-09-12 01:43:47 keypool return 6

                    2020-09-12 01:43:52 keypool reserve 6

                    2020-09-12 01:43:52 keypool return 6

                    2020-09-12 01:43:57 keypool reserve 6

                    2020-09-12 01:43:57 keypool return 6

                    2020-09-12 01:44:02 keypool reserve 6

                    2020-09-12 01:44:02 keypool return 6

                    2020-09-12 01:44:07 keypool reserve 6

                    2020-09-12 01:44:07 keypool return 6

                    2020-09-12 01:44:12 keypool reserve 6

                    2020-09-12 01:44:12 keypool return 6

                    2020-09-12 01:44:17 keypool reserve 6

                    2020-09-12 01:44:17 keypool return 6

                    2020-09-12 01:44:17 peer=81 using obsolete version 170013;
                    disconnecting

                    2020-09-12 01:44:17 ProcessMessages(version, 103 bytes)
                    FAILED peer=81

                    2020-09-12 01:44:22 keypool reserve 6

                    2020-09-12 01:44:22 keypool return 6

                    2020-09-12 01:44:27 keypool reserve 6

                    2020-09-12 01:44:27 keypool return 6

                    2020-09-12 01:44:29 remove: Remove fluxnode tx from mempool
                    4fea691828378a1cfabfe43ca29b527aea98c81a9ecb3e12a70a53d2eed2c924

                    2020-09-12 01:44:29 UpdateTip: new
                    best=000000747c5d711cb2ae3187797051307b10c2732299cdc2cb8078b1cef91d7d
                    height=684557  log2_work=45.426889  tx=4126534
                    date=2020-09-12 01:43:47 progress=1.000000
                    cache=55.5MiB(15862tx)

                    2020-09-12 01:44:29 Fluxnode found nothing to do:
                    COutPoint(9c8af320e5, 0)

                    2020-09-12 01:44:30 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(a5b2a9ebbb, 0) hash:
                    928f795ecc704c3f0411512ebe3f2732f4f1d94f4dd9239147c8d6cbdf80228e

                    2020-09-12 01:44:30 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(87b6472d8d, 0) hash:
                    c66fada272ddd909aa20a413e8dfa8ecb9e80bdfabe06fe21ca8216923d8fab6

                    2020-09-12 01:44:30 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(0aed717593, 0) hash:
                    090c77f6793fffcfd876c8952b351d4e9bfe40c5795b59480730e8ae3d5edfa4

                    2020-09-12 01:44:30 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(805d696dda, 0) hash:
                    cb2ba22ca622332c02e5855c1d0f176606a19a59269280e800bce5bcc2b44e1c

                    2020-09-12 01:44:30 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(35b4698aad, 0) hash:
                    71edaec39542cc5cf13faa3e181fb98c94d0027a15f3ba90851a9f73c21c91c2

                    2020-09-12 01:44:30 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(49fa5b457d, 0) hash:
                    9ef9da575da26ff4dde7a9eb8b339ca0621c28b924fee46865c196b8259903ad

                    2020-09-12 01:44:31 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(b5bcdabfe4, 0) hash:
                    f854454ad5f32d69b91c778e88d23ec67d695a1d0791c2b97fc4c7d7dfca2220

                    2020-09-12 01:44:32 keypool reserve 6

                    2020-09-12 01:44:32 keypool return 6

                    2020-09-12 01:44:36 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(b5dd6b1a79, 0) hash:
                    cc4c40dc30e54b2ef18f4b7ece987292bac2a8248f763bcd60574d610c811c52

                    2020-09-12 01:44:36 keypool reserve 6\n2020-09-12 01:44:36
                    keypool return 6

                    2020-09-12 01:44:36 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(57f9033b47, 0) hash:
                    0218861ec9783cc45731d3fb1d87858a9d0e7b5bbc48f6d34ac01065db66e140

                    2020-09-12 01:44:38 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(2c122a59b8, 0) hash:
                    f071f20767d1a55783c21e4e754e7d12e18e2729f28935d1db2b13f482d82b91

                    2020-09-12 01:44:38 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(936393fea0, 0) hash:
                    8c623265e5e33dfad68967ff14d31d03dd4c62565e2fd97916903cefb780334a

                    2020-09-12 01:44:39 AcceptToMemoryPool: Adding fluxnode
                    transaction to mempool: COutPoint(e27995065e, 0) hash:
                    ca7c2362a43ce53c0c95221e2333393724601480e14ba9b330d8fd3ecfc9c4da

                    2020-09-12 01:44:41 keypool reserve 6

                    2020-09-12 01:44:41 keypool return 6

                    2020-09-12 01:44:46 keypool reserve 6

                    2020-09-12 01:44:46 keypool return 6

                    2020-09-12 01:44:49 keypool reserve 6

                    2020-09-12 01:44:49 keypool return 6
  /flux/tailbenchmarkdebug:
    get:
      tags:
        - Flux
      summary: Returns last lines of Benchmark debug log
      description: >-
        Returns last 100 lines known in the Benchmark debug log.
        **AdminAndFluxTeam**
      operationId: tailBenchmarkDebug
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: >-
                    2020-09-12 00:03:39 ---Using Historical eps: 167.846

                    2020-09-12 00:03:39 ---Finished package evaluator test

                    2020-09-12 00:23:25 Shutdown: In progress...

                    2020-09-12 00:23:25 StopRPC: waiting for async rpc workers
                    to stop

                    2020-09-12 00:23:25 Shutdown: done

                    2020-09-12 00:24:09

                    2020-09-12 00:24:09 Benchmark version
                    v1.0.0-beta1-b16e73c-dirty (2020-07-16 22:58:47 +0200)

                    2020-09-12 00:24:09 Using OpenSSL version OpenSSL 1.1.1a  20
                    Nov 2018

                    2020-09-12 00:24:09 HTTP: creating work queue of depth 16

                    2020-09-12 00:24:09 HTTP: starting 4 worker threads

                    2020-09-12 00:24:09 Bound to [::]:16225

                    2020-09-12 00:24:09 Bound to 0.0.0.0:16225

                    2020-09-12 00:24:09 init message: Done loading

                    2020-09-12 00:24:09 Starting Fluxnodes Benchmarking Thread

                    2020-09-12 00:24:10 Path: /home/user/flux/ZelBack

                    2020-09-12 00:25:10 ---Flux usage: 0.44897

                    2020-09-12 00:25:10 ---package evaluator system setup
                    starting

                    2020-09-12 00:25:10 ---package evaluator already installed

                    2020-09-12 00:25:10 ---package evaluator found version:
                    1.0.11

                    2020-09-12 00:25:10 ---package evaluator system setup
                    completed

                    2020-09-12 00:25:10 ---Starting computer specs test

                    2020-09-12 00:25:15 ---Found cores: 2

                    2020-09-12 00:25:15 ---Found ram: 3.8

                    2020-09-12 00:25:15 ---Found HDD: 38.200001 G

                    2020-09-12 00:25:15 ---Found HDD: 13.000000 G

                    2020-09-12 00:25:15 ---Found DD_WRITE: 745.264

                    2020-09-12 00:25:15 ---Finished computer specs test

                    2020-09-12 00:25:15 ---Starting package evaluator test

                    2020-09-12 00:25:35 ---Found eps v1: 176.479

                    2020-09-12 00:25:35 ---Finished package evaluator test

                    2020-09-12 00:55:45 ---Restarting benchmarks

                    2020-09-12 00:55:46 Path: /home/user/flux/ZelBack

                    2020-09-12 00:55:46 ---Flux usage: 0.16616

                    2020-09-12 00:55:46 ---package evaluator system setup
                    starting

                    2020-09-12 00:55:46 ---package evaluator already installed

                    2020-09-12 00:55:46 ---package evaluator found version:
                    1.0.11

                    2020-09-12 00:55:46 ---package evaluator system setup
                    completed

                    2020-09-12 00:55:46 ---Starting computer specs test

                    2020-09-12 00:55:46 ---Found cores: 2

                    2020-09-12 00:55:46 ---Found ram: 3.8

                    2020-09-12 00:55:46 ---Found HDD: 38.200001 G

                    2020-09-12 00:55:46 ---Found HDD: 13.000000 G

                    2020-09-12 00:55:46 ---Using Historical DD_WRITE: 745.264

                    2020-09-12 00:55:46 ---Finished computer specs test

                    2020-09-12 00:55:46 ---Starting package evaluator test

                    2020-09-12 00:55:46 ---Using Historical eps: 176.479

                    2020-09-12 00:55:46 ---Finished package evaluator test

                    2020-09-12 01:25:56 ---Restarting benchmarks

                    2020-09-12 01:25:57 Path: /home/user/flux/ZelBack

                    2020-09-12 01:25:57 ---Flux usage: 0.21791

                    2020-09-12 01:25:57 ---package evaluator system setup
                    starting

                    2020-09-12 01:25:57 ---package evaluator already installed

                    2020-09-12 01:25:57 ---package evaluator found version:
                    1.0.11

                    2020-09-12 01:25:57 ---package evaluator system setup
                    completed

                    2020-09-12 01:25:57 ---Starting computer specs test

                    2020-09-12 01:25:57 ---Found cores: 2

                    2020-09-12 01:25:57 ---Found ram: 3.8

                    2020-09-12 01:25:57 ---Found HDD: 38.200001 G

                    2020-09-12 01:25:57 ---Found HDD: 13.000000 G

                    2020-09-12 01:25:57 ---Using Historical DD_WRITE: 745.264

                    2020-09-12 01:25:57 ---Finished computer specs test

                    2020-09-12 01:25:57 ---Starting package evaluator test

                    2020-09-12 01:25:57 ---Using Historical eps: 176.479

                    2020-09-12 01:25:57 ---Finished package evaluator test

                    2020-09-12 01:56:07 ---Restarting benchmarks

                    2020-09-12 01:56:08 Path: /home/user/flux/ZelBack

                    2020-09-12 01:56:08 ---Flux usage: 0.19594

                    2020-09-12 01:56:08 ---package evaluator system setup
                    starting

                    2020-09-12 01:56:08 ---package evaluator already installed

                    2020-09-12 01:56:08 ---package evaluator found version:
                    1.0.11

                    2020-09-12 01:56:08 ---package evaluator system setup
                    completed

                    2020-09-12 01:56:08 ---Starting computer specs test

                    2020-09-12 01:56:08 ---Found cores: 2

                    2020-09-12 01:56:08 ---Found ram: 3.8

                    2020-09-12 01:56:08 ---Found HDD: 38.200001 G

                    2020-09-12 01:56:08 ---Found HDD: 13.000000 G

                    2020-09-12 01:56:08 ---Using Historical DD_WRITE: 745.264

                    2020-09-12 01:56:08 ---Finished computer specs test

                    2020-09-12 01:56:08 ---Starting package evaluator test

                    2020-09-12 01:56:28 ---Found eps v1: 167.138

                    2020-09-12 01:56:28 ---Finished package evaluator test
  /flux/errorlog:
    get:
      tags:
        - Flux
      summary: Returns with the Flux error log
      description: >-
        Returns with the error log located in flux directory.
        **AdminAndFluxTeam**
      operationId: fluxErrorLog
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Error log
              example: >-
                2020-05-13T11:43:35.223Z          {} 2020-05-13T16:58:20.492Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-13T16:58:20.494Z {}
                2020-05-13T16:58:29.181Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-13T16:59:03.686Z
                {"code":-28,"name":"Error","message":"Loading fluxnode payment
                cache..."} 2020-05-13T20:51:36.484Z          {}
                2020-05-14T07:15:38.355Z          {}
                2020-05-14T12:18:38.695Z          {} 2020-05-14T13:30:35.112Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T13:30:35.114Z {}
                2020-05-14T13:30:38.782Z          {} 2020-05-14T13:31:09.309Z
                {"code":-28,"name":"Error","message":"Loading fluxnode payment
                cache..."} 2020-05-14T13:37:30.205Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T13:38:10.519Z
                {"code":-28,"name":"Error","message":"Loading fluxnode payment
                cache..."} 2020-05-14T13:58:08.810Z          {}
                2020-05-14T14:49:30.295Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T14:49:32.669Z
                {"code":"ECONNREFUSED","name":"Error","message":"connect
                ECONNREFUSED 127.0.0.1:16124"} 2020-05-14T14:49:32.672Z {}
                2020-05-14T14:50:10.807Z
                {"code":-28,"name":"Error","message":"Loading fluxnode payment
                cache..."} 2020-05-14T16:19:39.197Z          {}
  /flux/tailerrorlog:
    get:
      tags:
        - Flux
      summary: Returns last lines of Flux error log
      description: >-
        Returns last 100 lines known in the Flux error log.
        **AdminAndFluxTeam**
      operationId: tailFluxErrorLog
      security:
        - ZelID: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: >-
                    2020-09-11T18:36:17.339Z          {}

                    2020-09-11T18:36:17.452Z          {}

                    2020-09-11T18:36:17.553Z          {}

                    2020-09-11T18:36:17.776Z          {}

                    2020-09-11T18:36:17.898Z          {}

                    2020-09-11T18:36:18.102Z          {}

                    2020-09-11T18:36:18.207Z          {}

                    2020-09-11T18:36:18.711Z          {}

                    2020-09-11T18:36:18.812Z          {}

                    2020-09-11T18:36:18.915Z          {}

                    2020-09-11T18:36:19.016Z          {}

                    2020-09-11T18:36:19.218Z          {}

                    2020-09-11T18:36:19.318Z          {}

                    2020-09-11T18:36:19.521Z          {}

                    2020-09-11T18:48:11.898Z          {}

                    2020-09-11T18:48:17.556Z          {}

                    2020-09-11T18:48:19.812Z          {}

                    2020-09-11T18:52:20.539Z          {}

                    2020-09-11T18:55:26.079Z          {}

                    2020-09-11T18:55:26.159Z          {}

                    2020-09-11T19:00:19.193Z          {}

                    2020-09-11T19:04:07.389Z          {}

                    2020-09-11T19:04:13.667Z          {}

                    2020-09-11T19:14:10.229Z          {}

                    2020-09-11T19:24:16.383Z          {}

                    2020-09-11T19:32:09.297Z          {}

                    2020-09-11T19:56:17.959Z          {}

                    2020-09-11T20:03:26.244Z          {}

                    2020-09-11T20:06:22.354Z          {}

                    2020-09-11T20:24:14.665Z          {}

                    2020-09-11T20:36:19.212Z          {}

                    2020-09-11T20:42:12.967Z          {}

                    2020-09-11T20:44:12.980Z          {}

                    2020-09-11T20:49:40.861Z          {}

                    2020-09-11T20:52:16.705Z          {}

                    2020-09-11T20:52:16.893Z          {}

                    2020-09-11T20:52:16.994Z          {}

                    2020-09-11T20:54:12.108Z          {}

                    2020-09-11T21:07:27.799Z          {}

                    2020-09-11T21:08:19.471Z          {}

                    2020-09-11T21:13:39.968Z          {}

                    2020-09-11T21:16:09.308Z          {}

                    2020-09-11T21:24:17.914Z          {}

                    2020-09-11T21:24:18.011Z          {}

                    2020-09-11T21:29:13.920Z          {}

                    2020-09-11T21:36:09.406Z          {}

                    2020-09-11T21:48:08.548Z          {}

                    2020-09-11T21:54:57.653Z          {}

                    2020-09-11T22:08:20.088Z          {}

                    2020-09-11T22:12:17.281Z          {}

                    2020-09-11T22:15:21.272Z          {}

                    2020-09-11T22:22:56.814Z          {}

                    2020-09-11T22:26:24.336Z          {}

                    2020-09-11T22:40:18.348Z          {}

                    2020-09-11T22:48:14.137Z          {}

                    2020-09-11T23:12:15.635Z          {}

                    2020-09-11T23:23:44.443Z          {}

                    2020-09-11T23:24:44.429Z          {}

                    2020-09-11T23:27:32.293Z          {}

                    2020-09-11T23:29:14.338Z          {}

                    2020-09-11T23:50:22.790Z          {}

                    2020-09-11T23:50:23.146Z          {}

                    2020-09-11T23:51:32.910Z          {}

                    2020-09-12T00:01:44.369Z          {}

                    2020-09-12T00:05:14.362Z          {}

                    2020-09-12T00:11:14.366Z          {}

                    2020-09-12T00:16:20.163Z          {}

                    2020-09-12T00:23:26.264Z          {}

                    2020-09-12T00:23:26.395Z          {}

                    2020-09-12T00:23:26.496Z          {}

                    2020-09-12T00:23:26.779Z          {}

                    2020-09-12T00:23:27.502Z          {}

                    2020-09-12T00:23:27.703Z          {}

                    2020-09-12T00:23:27.804Z          {}

                    2020-09-12T00:23:27.906Z          {}

                    2020-09-12T00:23:28.006Z          {}

                    2020-09-12T00:23:28.207Z          {}

                    2020-09-12T00:23:28.308Z          {}

                    2020-09-12T00:23:28.409Z          {}

                    2020-09-12T00:23:57.695Z          {}

                    2020-09-12T00:24:04.521Z
                    {"code":-28,"name":"Error","message":"Activating best
                    chain..."}

                    2020-09-12T00:24:19.135Z          {}

                    2020-09-12T00:34:22.624Z          {}

                    2020-09-12T00:49:11.875Z          {}

                    2020-09-12T00:52:11.993Z          {}

                    2020-09-12T00:52:17.362Z          {}

                    2020-09-12T00:52:18.594Z          {}

                    2020-09-12T01:03:14.488Z          {}

                    2020-09-12T01:06:56.394Z          {}

                    2020-09-12T01:18:11.652Z          {}

                    2020-09-12T01:24:13.613Z          {}

                    2020-09-12T01:30:41.937Z          {}

                    2020-09-12T01:31:13.278Z          {}

                    2020-09-12T01:32:19.941Z          {}

                    2020-09-12T01:34:11.928Z          {}

                    2020-09-12T01:34:56.540Z          {}

                    2020-09-12T01:47:11.945Z          {}

                    2020-09-12T01:56:27.102Z          {}

                    2020-09-12T02:01:12.047Z          {}

                    2020-09-12T02:15:22.973Z          {}
  /flux/nodetier:
    get:
      tags:
        - Flux
      summary: Node Tier
      description: This call will display the tier of the node. **Public**
      operationId: getNodeTier
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Node Tier
              example:
                status: success
                data: cumulus
  /flux/info:
    get:
      tags:
        - Flux
      summary: Combined info
      description: Combined info of statuses. **Public**
      operationId: getFluxInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      daemon:
                        type: object
                        properties:
                          info:
                            $ref: '#/components/schemas/daemongetinfo'
                      node:
                        type: object
                        properties:
                          status:
                            $ref: '#/components/schemas/fluxnodestatus'
                      benchmark:
                        type: object
                        properties:
                          info:
                            $ref: '#/components/schemas/benchinfo'
                          status:
                            $ref: '#/components/schemas/benchstatus'
                          bench:
                            $ref: '#/components/schemas/getbenchmarks'
                      flux:
                        type: object
                        properties:
                          version:
                            type: string
                            description: Version number
                          ip:
                            type: string
                            description: Server's IP address
                          staticIp:
                            type: boolean
                            enum:
                              - true
                              - false
                            description: If ``true`` node have a static IP address
                          zelid:
                            type: string
                            description: Admin's ZelID
                          pgp:
                            type: string
                            description: PGP identity
                          cruxid:
                            type: string
                            description: Cruxid address
                          timezone:
                            type: string
                            description: Server's timezone
                          dos:
                            type: object
                            properties:
                              dosState:
                                type: number
                                description: >-
                                  Number indicating value of DOS state from 0 to
                                  infinity
                              dosMessage:
                                type: string
                                description: Status message or Null if no message
                          appsDos:
                            type: object
                            properties:
                              dosState:
                                type: number
                                description: >-
                                  Number indicating value of DOS state from 0 to
                                  infinity
                              dosMessage:
                                type: string
                                description: Status message or Null if no message
                          development:
                            type: boolean
                            enum:
                              - true
                              - false
                            description: If ```true``` development branch is active 
                          explorerScannedHeigth: 
                            type: object
                            properties:
                              generalScannedHeight:
                                type: integer
                                description: Explorer block height
                          numberOfConnectionsOut:
                            type: integer
                          numberOfConnectionsIn:
                            type: integer
                      apps:
                        type: object
                        properties:
                          fluxusage:
                            type: string
                            description: Amount of CPU usage
                          runningapps:
                            $ref: '#/components/schemas/containerinfo'
                          resources:
                            $ref: '#/components/schemas/appsresources'
                      geolocation:
                        $ref: '#/components/schemas/geolocation'
                      appsHashesTotal:
                        type: integer
                      hashesPresent:
                        type: integer
              example:
                status: success
                data:
                  daemon:
                    info:
                      version: 6020050
                      protocolversion: 170018
                      walletversion: 60000
                      blocks: 1455414
                      timeoffset: 0
                      connections: 100
                      proxy: ''
                      difficulty: 27259.8892076468
                      testnet: false
                      keypoololdest: 1674853325
                      keypoolsize: 101
                      paytxfee: 0
                      relayfee: 0.000001
                      errors: ''
                  node:
                    status:
                      status: CONFIRMED
                      collateral: COutPoint(405e86b48a5d6846763f260154ca15383854ce5a2efad31474e55ff60cb62979, 0)
                      txhash: 405e86b48a5d6846763f260154ca15383854ce5a2efad31474e55ff60cb62979
                      outidx: '0'
                      ip: 185.216.177.168
                      network: ipv4
                      added_height: 1327207
                      confirmed_height: 1327209
                      last_confirmed_height: 1455394
                      last_paid_height: 1453696
                      tier: NIMBUS
                      payment_address: t1b6ZZLYAVG8QaafiZxB4dwX77YLLtMZeRx
                      pubkey: 047f9deaee93ae795a354d5b0977dcc3949e062bdbacdd78384b550987ab9db4545f96a5b59bfb2418cba08a181a9eb501bf70d49ef0fc2aa17bcbaf7ada334c8b
                      activesince: '1677520595'
                      lastpaid: '1692825635'
                      amount: '12500.00'
                  benchmark:
                    info:
                      version: 3.9.0
                      rpcport: 16224
                    status:
                      status: online
                      benchmarking: NIMBUS
                      flux: connected
                    bench:
                      ipaddress: 185.216.177.168
                      architecture: amd64
                      armboard: ''
                      status: NIMBUS
                      time: 1693033429
                      real_cores: 10
                      cores: 10
                      ram: 31
                      ssd: 1024
                      hdd: 0
                      ddwrite: 1114.33
                      totalstorage: 1024
                      disksinfo:
                        - disk: vda
                          size: 1024
                          writespeed: 1114.33
                      eps: 1036
                      ping: 7.226
                      download_speed: 809.3055686875
                      upload_speed: 310.0325255625
                      bench_version: 1.0.20
                      speed_version: 1.2.0
                      thunder: false
                      error: ''
                  flux:
                    version: 4.9.1
                    ip: 185.216.177.168
                    staticIp: true
                    zelid: 1HWjQ9S3MyzV6EbtDMEkpHm31parya412N
                    pgp: |
                      -----BEGIN PGP PUBLIC KEY BLOCK-----
                
                      xjMEZIgjpBYJKwYBBAHaRw8BAQdAerrwWyO64yjV8judx51MuoRVum3FDAx0
                      WDtYoWqatwHNdDQwNWU4NmI0OGE1ZDY4NDY3NjNmMjYwMTU0Y2ExNTM4Mzg1
                      NGNlNWEyZWZhZDMxNDc0ZTU1ZmY2MGNiNjI5Nzk6MCA8MUhXalE5UzNNeXpW
                      NkVidERNRWtwSG0zMXBhcnlhNDEyTkBydW5vbmZsdXguaW8+wowEEBYKAD4F
                      gmSII6QECwkHCAmQxAt379vcLEADFQgKBBYAAgECGQECmwMCHgEWIQTJIjfd
                      RpTSWLEgehHEC3fv29wsQAAAIQoBAOWaX6+vALJA5DTZp3v/snNK4RUxGP4j
                      0yPKXuMQtUJ7AP43Bjv22il8nWL7DAZZpPQu6EJI8vNSkfiw9rZDlYZAA844
                      BGSII6QSCisGAQQBl1UBBQEBB0Dokszyg3BVx5lJpzDdsvazPLiwi+11Zz8b
                      bpOisj8PSwMBCAfCeAQYFggAKgWCZIgjpAmQxAt379vcLEACmwwWIQTJIjfd
                      RpTSWLEgehHEC3fv29wsQAAADuYA/2FMZLcEmH62FaUKeXsbxDtwH45o3zkr
                      uuxpBKrbx06gAP4hhjAl+ldIxPVUlCTyd63V6T1/CZXmxjDcv9EXoTUiCQ==
                      =B2xR
                      -----END PGP PUBLIC KEY BLOCK-----
                    cruxid: null
                    timezone: Europe/Berlin
                    dos:
                      dosState: 0
                      dosMessage: null
                    appsDos:
                      dosState: 0
                      dosMessage: null
                    development: false
                    explorerScannedHeigth:
                      generalScannedHeight: 1455414
                    numberOfConnectionsOut: 19
                    numberOfConnectionsIn: 33
                  apps:
                    fluxusage: '5.24500000'
                    runningapps:
                      - Id: 4d4f8b41bc06be437a289411fc368b533cb3037262db6c1b7da834b9ff64c990
                        Names:
                          - /fluxnode_PresearchNode1692351142712
                        Image: presearch/node:latest
                        ImageID: sha256:250779dc2ac2c4b8bef16ef46d0d5f4310eb9677e3da622f1a8dbbfc701dae36
                        Command: /app/presearch-node
                        Created: 1692377195
                        Ports:
                          - IP: 0.0.0.0
                            PrivatePort: 38253
                            PublicPort: 39000
                            Type: tcp
                          - IP: '::'
                            PrivatePort: 38253
                            PublicPort: 39000
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 38253
                            PublicPort: 39000
                            Type: udp
                          - IP: '::'
                            PrivatePort: 38253
                            PublicPort: 39000
                            Type: udp
                          - PrivatePort: 39000
                            Type: tcp
                          - PrivatePort: 39000
                            Type: udp
                        Labels: {}
                        State: running
                        Status: Up 7 days
                      - Id: ec7fbc0d1815dca14cbfc7618ca98bfed786664634919cfadcfe5ad476626fdd
                        Names:
                          - /fluxisokoredis_IsokoSSE
                        Image: isokoxyz/isoko-redis:latest
                        ImageID: sha256:57827417aa9fbd1d64bbdaece64baa432ba5ec59edce99c774e64f8c83c02c66
                        Command: docker-entrypoint.sh redis-server --requirepass password
                        Created: 1692341609
                        Ports:
                          - PrivatePort: 39470
                            Type: udp
                          - PrivatePort: 6379
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 3679
                            PublicPort: 39470
                            Type: tcp
                          - IP: '::'
                            PrivatePort: 3679
                            PublicPort: 39470
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 3679
                            PublicPort: 39470
                            Type: udp
                          - IP: '::'
                            PrivatePort: 3679
                            PublicPort: 39470
                            Type: udp
                          - PrivatePort: 39470
                            Type: tcp
                        Labels: {}
                        State: running
                        Status: Up 8 days
                      - Id: c8e4a96024e3fef3790585ffcdb48fd81f914f8ace86e27961fe596675b73119
                        Names:
                          - /fluxisokosse_IsokoSSE
                        Image: isokoxyz/isoko-sse:latest
                        ImageID: sha256:e57a082b29709efc1d25583855276095873fb3b218fe5fb4ba7854bb6f5f900d
                        Command: docker-entrypoint.sh npm run start
                        Created: 1692341603
                        Ports:
                          - IP: 0.0.0.0
                            PrivatePort: 5000
                            PublicPort: 33772
                            Type: udp
                          - IP: '::'
                            PrivatePort: 5000
                            PublicPort: 33772
                            Type: udp
                          - PrivatePort: 33772
                            Type: tcp
                          - PrivatePort: 33772
                            Type: udp
                          - IP: 0.0.0.0
                            PrivatePort: 5000
                            PublicPort: 33772
                            Type: tcp
                          - IP: '::'
                            PrivatePort: 5000
                            PublicPort: 33772
                            Type: tcp
                        Labels: {}
                        State: running
                        Status: Up 8 days
                      - Id: ca7edafff17324889aefbdfd8e9ad936e15f84d677d12716ec38f34fae15e046
                        Names:
                          - /fluxFoldingAtHome_FoldingAtRunOnFlux9
                        Image: yurinnick/folding-at-home:latest
                        ImageID: sha256:3b22eaf749f01384995a122aa97d4e03f80af32350e75ebe125927bf3f1d7a0e
                        Command: /init-wrapper.sh
                        Created: 1692163488
                        Ports:
                          - PrivatePort: 36330
                            Type: tcp
                          - PrivatePort: 36666
                            Type: tcp
                          - PrivatePort: 36666
                            Type: udp
                          - IP: 0.0.0.0
                            PrivatePort: 7396
                            PublicPort: 36666
                            Type: tcp
                          - IP: '::'
                            PrivatePort: 7396
                            PublicPort: 36666
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 7396
                            PublicPort: 36666
                            Type: udp
                          - IP: '::'
                            PrivatePort: 7396
                            PublicPort: 36666
                            Type: udp
                        Labels:
                          description: Unofficial Folding@Home image for CPU compute
                          maintainer: yurinnick
                          repository: https://github.com/yurinnick/folding-at-home-docker
                          version: v7.6.21
                        State: running
                        Status: Up 10 days
                      - Id: 373182fd794517c6f959ad0ce208b1c3258ad5b3f182f07d35955f4c35873585
                        Names:
                          - /fluxFoldingAtHome_FoldingAtFluxCloud1691606082588
                        Image: yurinnick/folding-at-home:latest
                        ImageID: sha256:3b22eaf749f01384995a122aa97d4e03f80af32350e75ebe125927bf3f1d7a0e
                        Command: /init-wrapper.sh
                        Created: 1691875783
                        Ports:
                          - PrivatePort: 35555
                            Type: udp
                          - PrivatePort: 36330
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 7396
                            PublicPort: 35555
                            Type: tcp
                          - IP: '::'
                            PrivatePort: 7396
                            PublicPort: 35555
                            Type: tcp
                          - IP: 0.0.0.0
                            PrivatePort: 7396
                            PublicPort: 35555
                            Type: udp
                          - IP: '::'
                            PrivatePort: 7396
                            PublicPort: 35555
                            Type: udp
                          - PrivatePort: 35555
                            Type: tcp
                        Labels:
                          description: Unofficial Folding@Home image for CPU compute
                          maintainer: yurinnick
                          repository: https://github.com/yurinnick/folding-at-home-docker
                          version: v7.6.21
                        State: running
                        Status: Up 13 days
                      - Id: e381969e619194b5c037b1063373d52d0e46d883f0cc2000889c064a67b83726
                        Names:
                          - /flux_watchtower
                        Image: containrrr/watchtower
                        ImageID: sha256:f847e1adb570c2cc11d1e613cad97baf3cdfe83ddd3c1a29ada848cfbd4f7f3f
                        Command: /watchtower --cleanup --interval 24133
                        Created: 1676891906
                        Ports:
                          - PrivatePort: 8080
                            Type: tcp
                        Labels:
                          com.centurylinklabs.watchtower: 'true'
                        State: running
                        Status: Up 6 months
                    resources:
                      appsCpusLocked: 4.3
                      appsRamLocked: 17700
                      appsHddLocked: 98
                  geolocation:
                    ip: 185.216.177.168
                    continent: Europe
                    continentCode: EU
                    country: Germany
                    countryCode: DE
                    region: BW
                    regionName: Baden-Wurttemberg
                    lat: 49.0291
                    lon: 8.35695
                    org: netcup GmbH
                  appsHashesTotal: 25312
                  hashesPresent: 25279
  /flux/timezone:
    get:
      tags:
        - Flux
      summary: Flux timezone
      description: This will return with the timezone of the server. **Public**
      operationId: getFluxTimezone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Timezone
              example:
                status: success
                data: Europe/Berlin
  /flux/version:
    get:
      tags:
        - Flux
      summary: Gets version of Flux
      description: >-
        Gets version of Flux running on the Flux node the call is run against
        as it is in package.json. **Public**
      operationId: getFluxVersion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Flux version
              example:
                status: success
                data: 4.1.0
  /flux/ip:
    get:
      tags:
        - Flux
      summary: Flux IP
      description: >-
        This will return with the IP address of the server that Flux is on.
        **Public**
      operationId: getFluxIP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: IP address
              example:
                status: success
                data: 49.12.8.215
  /flux/staticip:
    get:
      tags:
        - Flux
      summary: Flux static IP status
      description: >-
        This will return `true` if FluxNode is running under a known static ip ISP/Org.
        **Public**
      operationId: getFluxStaticIP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: boolean
                    description: static ip ISP/Org or not
              example:
                status: success
                data: true
  /flux/geolocation:
    get:
      tags:
        - Flux
      summary: Geolocation info
      description: This will return geolocation info. **Public**
      operationId: getFluxGeolocation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/geolocation'
              example:
                status: success
                data:
                  ip: 148.113.135.234
                  continent: North America
                  continentCode: NA
                  country: Canada
                  countryCode: CA
                  region: QC
                  regionName: Quebec
                  lat: 45.3151
                  lon: -73.8779
                  org: OVH Hosting, Inc
  /flux/id:
    get:
      tags:
        - Flux
      summary: Admin's ZelID
      description: This will return with the admin's ZelID. **Public**
      operationId: getFluxID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: ZelID
              example:
                status: success
                data: 1CcoEkKQZcwUXPSps4bZJDjUM3mqe9bNXf
  /flux/pgp:
    get:
      tags:
        - Flux
      summary: PGP identity
      description: This will return node pgp public key. **Public**
      operationId: getPgp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Pgp public key
              example:
                status: success
                data: |
                  -----BEGIN PGP PUBLIC KEY BLOCK-----
                
                  xjMEZOMsEBYJKwYBBAHaRw8BAQdAqjIh7dGGpEwo2bHAJKPnZJLclDSKPysv
                  gmK3Va+8fcPNdDFlN2U1ODU0YjdlMjk4OWU5NTNlMTA1MGY0MGFmY2YzYWUz
                  ZDQ3ZThlNWI1NDgyZWYyZWViNWZkNTY2ZmNmMmE6MCA8MUhXalE5UzNNeXpW
                  NkVidERNRWtwSG0zMXBhcnlhNDEyTkBydW5vbmZsdXguaW8+wowEEBYKAD4F
                  gmTjLBAECwkHCAmQSQ3C8FnVJhkDFQgKBBYAAgECGQECmwMCHgEWIQQAyk4E
                  Gn08EnjEMCtJDcLwWdUmGQAAC2QBANAEdUdQEUTLQNYnGRzrCvqzBqdPGbJT
                  /zW0nyF8ZLJgAP9pS8OLA3eoYzkhoJKuOn4qcUr48PcBcGzEIpgZFKPPBM44
                  BGTjLBASCisGAQQBl1UBBQEBB0AoXsfprvNft3PNBsCPz9VMl8e342PDq91X
                  VJeSeBnCSAMBCAfCeAQYFggAKgWCZOMsEAmQSQ3C8FnVJhkCmwwWIQQAyk4E
                  Gn08EnjEMCtJDcLwWdUmGQAATboA/3hxWLcTxPRQokx+BlcIXHuRu3fK9cnj
                  UW6j9M99t6hTAQDDdiNNDAEIOnWXBr1NZiD3iqhPv5zOkLDRtpyw+7NGCw==
                  =crwl
                  -----END PGP PUBLIC KEY BLOCK-----
  /flux/kadena:
    get:
      tags:
        - Flux
      summary: Kadena Info
      description: This call will display the user's Kadena address and chain ID. **Public**
      operationId: getFluxKadena
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: Kadena address and chain ID
              example:
                status: success
                data: kadena:k:7a1529b3a07fate32d75684ab20bdde61545d60f1c6bcbf2489fef857a316652?chainid=0
  /flux/cruxid:
    get:
      tags:
        - Flux
      summary: Admin's CruxID
      description: This will return with the admin's CruxID. **Public**
      operationId: getFluxCruxID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: string
                    description: CruxID
              example:
                status: success
                data: dk808@zel.crux
  /flux/dosstate:
    get:
      tags:
        - Flux
      summary: DOS state
      description: >-
        This will return with the DOS state that Flux is in from 0 to
        infinity and if it reaches 10 it gets banned. **Public**
      operationId: getDOSState
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: object
                    properties:
                      dosState:
                        type: integer
                        description: Status number
                      dosMessage:
                        type: string
                        description: Explanation of status
              example:
                status: success
                data:
                  dosState: 0
                  dosMessage: null
  /flux/connectedpeers:
    get:
      tags:
        - Flux
      summary: Gets IP's of connected peers
      description: Gets list of IP addresses of outgoing connected peers. **Public**
      operationId: connectedPeers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: string
                      description: IP of connected peer
              example:
                status: success
                data:
                  - 193.188.15.252
                  - 164.68.127.146
                  - 188.239.61.176
                  - 89.187.128.108
  /flux/connectedpeersinfo:
    get:
      tags:
        - Flux
      summary: Gets info of connected peers
      description: >-
        Gets list of ip addresses and rtt of the outgoing connected peers.
        **Public**
      operationId: connectedPeersInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: Ip address of connected peer
                        rtt:
                          type: integer
                          description: >-
                            Round trip time of packets being sent back and forth
                            between peers
              example:
                status: success
                data:
                  - ip: 193.188.15.252
                    rtt: 27
                  - ip: 164.68.127.146
                    rtt: 196
                  - ip: 188.239.61.176
                    rtt: 202
                  - ip: 89.187.128.108
                    rtt: 214
  /flux/incomingconnections:
    get:
      tags:
        - Flux
      summary: List of incoming connections
      description: Gets list of IP addresses of incoming connected peers. **Public**
      operationId: incomingConnections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: string
                      description: Ip list of incoming connections
              example:
                status: success
                data:
                  - '::ffff:91.238.104.205'
                  - '::ffff:192.81.130.145'
                  - '::ffff:167.86.71.144'
                  - '::ffff:193.188.15.254'
                  - '::ffff:62.171.188.152'
                  - '::ffff:164.68.125.203'
  /flux/incomingconnectionsinfo:
    get:
      tags:
        - Flux
      summary: Gets info of incoming connections
      description: Gets list of ip addresses and rtt of incoming connections. **Public**
      operationId: incomingConnectionsInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ip:
                          type: string
                          description: Ip address of incoming connection
                        rtt:
                          type: string
                          description: >-
                            Round trip time of packets being sent back and forth
                            for incoming connection
              example:
                status: success
                data:
                  - ip: '::ffff:91.238.104.205'
                    rtt: 210
                  - ip: '::ffff:192.81.130.145'
                    rtt: 196
                  - ip: '::ffff:167.86.71.144'
                    rtt: null
                  - ip: '::ffff:193.188.15.254'
                    rtt: 214
                  - ip: '::ffff:62.171.188.152'
                    rtt: 194
                  - ip: '::ffff:164.68.125.203'
                    rtt: 205
  /flux/checkfluxavailability:
    get:
      tags:
        - Flux
      summary: Check availability of Flux
      description: >-
        Check if Flux is reachable and available using IP of the Flux's
        server. **Public**
      operationId: checkFluxAvailability
      parameters:
        - in: query
          name: ip
          required: true
          schema:
            type: string
          description: Ip address
          example: 193.188.15.245
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: sucess
                data:
                  message: Asking Flux is available
  /flux/checkcommunication:
    get:
      tags:
        - Flux
      summary: Check incoming/outgoing peers
      description: Check if there is enough incoming/outgoing peers. **Public**
      operationId: isCommunicationEstablished
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Communication to Flux network is properly established
  /flux/uptime:
    get:
      tags:
        - Flux
      summary: FluxOS uptime
      description: Return FluxOS uptime in seconds. **Public**
      operationId: FluxUptime
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                   type: integer
              example:
                status: success
                data: 467
  /flux/broadcastmessage:
    post:
      tags:
        - Flux
      summary: Broadcast message to peers
      description: Broadcast data message to peers that are connected. **AdminAndFluxTeam**
      operationId: broadcastMessageFromUserPost
      security:
        - ZelID: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The message
            example:
              data: a7a5b90b25ccc0a8379ec960c103103390369d1d6d18f88281372b944531dc23
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to Flux network
    get:
      tags:
        - Flux
      summary: Broadcast message to peers
      description: Broadcast data message to peers that are connected. **AdminAndFluxTeam**
      security:
        - ZelID: []
      parameters:
        - in: query
          name: data
          required: true
          schema:
            type: string
          description: The message
          example: a7a5b90b25ccc0a8379ec960c103103390369d1d6d18f88281372b944531dc23
      operationId: broadcastMessageFromUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to Flux network
  /flux/broadcastmessagetooutgoing:
    post:
      tags:
        - Flux
      summary: Broadcast message to outgoing peers
      description: >-
        Broadcast data message to peers on outgoing connections.
        **AdminAndFluxTeam**
      operationId: broadcastMessageToOutgoingFromUserPost
      security:
        - ZelID: []
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: object
              properties:
                data:
                  type: string
                  description: The message
            example:
              data: a7a5b90b25ccc0a8379ec960c103103390369d1d6d18f88281372b944531dc23
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to Flux network
    get:
      tags:
        - Flux
      summary: Broadcast message to outgoing peers
      description: >-
        Broadcast data message to peers on outgoing connections.
        **AdminAndFluxTeam**
      operationId: broadcastMessageToOutgoingFromUser
      security:
        - ZelID: []
      parameters:
        - in: query
          name: data
          required: true
          schema:
            type: string
          description: The message
          example: a7a5b90b25ccc0a8379ec960c103103390369d1d6d18f88281372b944531dc23
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/status'
                  data:
                    $ref: '#/components/schemas/statusmessage'
              example:
                status: success
                data:
                  message: Message successfully broadcasted to Flux network
  /flux/broadcastmessagetoincoming:
    post:
      tags:
        - Flux
      summary: Broadcast message to incoming peers
      description: >-
[...]
